<style>
.fabric-btn-text{ font-size:1.302vw; line-height:1.563vw; font-family:"Inter-Regular"; color:#231F20; text-align:center; }
.fabrics-style{ border-radius: 50%; max-width: 75%; padding: 0; max-height: 100%; object-fit: cover; }
.fabrics-li{ margin-top:1%; margin-bottom:1% !important;min-width:fit-content; }
@media(max-width:500px){
  .fabrics-style { border-radius: 50% !important; max-width: 80% !important; padding: 0 !important; max-height: 86% !important; object-fit: cover !important; }
  .fabric-btn-text{font-size:3.25vw;line-height:3.846vw;}
}
@media screen and (min-device-width: 1100px) and (max-device-width: 2500px) {
  .fabrics-style { border-radius: 50% !important; max-width: 85% !important; padding: 0 !important; max-height: 91% !important; object-fit: cover !important;}
}
@media screen and (min-device-width: 500px) and (max-device-width: 1000px) {
  .fabrics-style { border-radius: 50% !important; max-width: 80% !important; padding: 0 !important; max-height: 86% !important; object-fit: cover !important; }
  .fabric-btn-text { font-size: 26px !important; font-family: "Inter-Regular" !important; color: #231F20 !important;}
} 
</style>
{% liquid
    assign img_width  = 200
    assign img_height = 200
    assign img_thumbnail = 'img-thumbnail'
    assign image = collection.image | default: collection.products.first.featured_image
%}

<li class="collection-item p-3 mb-4 fabrics-li {{ slider }}">
    <a class="collection-card" href="{{ collection.url }}">
        <img 
            class="collection-item-img img-fluid mb-3 fabrics-style"
            src="{{ image | image_url: width: img_width, height: img_height, crop: 'center' }}" 
            alt="{{ image.alt | escape }}"
            width="{{ img_width }}"
            height="{{ img_height }}"
            loading="lazy">
      {% if collection.title != blank %}
        <h3 class="collection-item-title h6 mb-0 fabric-btn-text">
            {{ collection.title }}
        </h3>
      {% endif %}
      {% if colsubtext != blank %}<p class="fabric-sub-text">{{ colsubtext }}</p>{% endif %}
    </a>
</li>