{% comment %}
  Renders share button.
  Accepts:
  - block: {Object} passes in the block information.
  - share_link: {String} url to be added to the input the user will get/copy.

  Usage:
  {% render 'share-button',
    block: block,
    share_link: share_url
  %}
{% endcomment %}
<script src="{{ 'share.js' | asset_url }}" defer="defer"></script>

<share-button id="Share-{{ section.id }}" class="share-button quick-add-hidden{% if template == 'product.stellar' %} stellar-share-btn{% endif %}" {{ block.shopify_attributes }}>
  <button class="share-button__button hidden">
    {% render 'icon-share' %}
    {{ block.settings.share_label | escape }}
  </button>
  <details id="Details-{{ block.id }}-{{ section.id }}">
    <summary class="share-button__button">
      {% if template == 'product.stellar' %}
        <span class="stellar-share-text desktop-only">Share</span>
        <span class="stellar-share-icon tablet-mobile-only">
          <svg width="34" height="38" viewBox="0 0 34 38" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M16.8398 25.8402C16.4962 25.8402 16.1668 25.7037 15.9238 25.4608C15.6809 25.2179 15.5444 24.8884 15.5444 24.5449V2.09229C15.5444 1.74875 15.6809 1.41927 15.9238 1.17635C16.1668 0.933424 16.4962 0.796951 16.8398 0.796951C17.1833 0.796951 17.5128 0.933424 17.7557 1.17635C17.9986 1.41927 18.1351 1.74875 18.1351 2.09229V24.5449C18.1351 24.8884 17.9986 25.2179 17.7557 25.4608C17.5128 25.7037 17.1833 25.8402 16.8398 25.8402Z" fill="white"/>
          <path d="M24.6113 10.2961C24.278 10.2706 23.968 10.1156 23.7477 9.86433L16.8392 2.95585L9.93074 9.86433C9.68902 9.97977 9.41746 10.0174 9.15345 9.97214C8.88943 9.92684 8.64596 9.80081 8.45655 9.6114C8.26713 9.42198 8.1411 9.17851 8.0958 8.9145C8.05051 8.65049 8.08817 8.37892 8.20362 8.13721L15.9757 0.365166C16.2228 0.130706 16.5504 0 16.891 0C17.2317 0 17.5593 0.130706 17.8064 0.365166L25.4748 8.13721C25.6872 8.3747 25.8047 8.68214 25.8047 9.00077C25.8047 9.31939 25.6872 9.62684 25.4748 9.86433C25.2545 10.1156 24.9445 10.2706 24.6113 10.2961Z" fill="white"/>
          <path d="M28.9293 37.0665H4.74958C3.48991 37.0665 2.28184 36.5661 1.39112 35.6753C0.500401 34.7846 0 33.5765 0 32.3169V18.4999C0 17.2402 0.500401 16.0322 1.39112 15.1415C2.28184 14.2507 3.48991 13.7503 4.74958 13.7503H8.20382C8.54737 13.7503 8.87684 13.8868 9.11977 14.1297C9.36269 14.3727 9.49916 14.7021 9.49916 15.0457C9.49916 15.3892 9.36269 15.7187 9.11977 15.9616C8.87684 16.2045 8.54737 16.341 8.20382 16.341H4.74958C4.177 16.341 3.62788 16.5685 3.22301 16.9733C2.81814 17.3782 2.59068 17.9273 2.59068 18.4999V32.3169C2.59068 32.8895 2.81814 33.4386 3.22301 33.8435C3.62788 34.2483 4.177 34.4758 4.74958 34.4758H28.9293C29.5018 34.4758 30.051 34.2483 30.4558 33.8435C30.8607 33.4386 31.0882 32.8895 31.0882 32.3169V18.4999C31.0882 17.9273 30.8607 17.3782 30.4558 16.9733C30.051 16.5685 29.5018 16.341 28.9293 16.341H25.475C25.1315 16.341 24.802 16.2045 24.5591 15.9616C24.3162 15.7187 24.1797 15.3892 24.1797 15.0457C24.1797 14.7021 24.3162 14.3727 24.5591 14.1297C24.802 13.8868 25.1315 13.7503 25.475 13.7503H28.9293C30.1889 13.7503 31.397 14.2507 32.2877 15.1415C33.1784 16.0322 33.6788 17.2402 33.6788 18.4999V32.3169C33.6788 33.5765 33.1784 34.7846 32.2877 35.6753C31.397 36.5661 30.1889 37.0665 28.9293 37.0665Z" fill="white"/>
          </svg>

        </span>
      {% else %}
        {% render 'icon-share' %}
      {% endif %}
    </summary>
    <div class="share-button__fallback motion-reduce">
      <div class="field">
        <span id="ShareMessage-{{ section.id }}" class="share-button__message hidden" role="status"> </span>
        <input
          type="text"
          class="field__input"
          id="ShareUrl-{{ section.id }}"
          value="{{ share_link }}"
          placeholder="{{ 'general.share.share_url' | t }}"
          onclick="this.select();"
          readonly
        >
        <label class="field__label" for="ShareUrl-{{ section.id }}">{{ 'general.share.share_url' | t }}</label>
      </div>
      <button class="share-button__close hidden no-js-hidden">
        {% render 'icon-close' %}
        <span class="visually-hidden">{{ 'general.share.close' | t }}</span>
      </button>
      <button class="share-button__copy no-js-hidden">
        {% render 'icon-clipboard' %}
        <span class="visually-hidden">{{ 'general.share.copy_to_clipboard' | t }}</span>
      </button>
    </div>
  </details>
</share-button>
