 <style>
.collage-img-container--{{ section.id }}{
margin-bottom:{{section.settings.coll_margindesk}}px;
}
.collage-img-container--{{ section.id }} > .coll-wrapper .first_imgflex{
display:flex;
gap: 18px;
}
.collage-img-container--{{ section.id }} > .coll-wrapper .first_imgflex .image_coll_con {
width:60%; 
}
.collage-img-container--{{ section.id }} > .coll-wrapper .first_imgflex .image_coll_con > img {
  width:100%;
  height:auto;
}
.collage-img-container--{{ section.id }} > .coll-wrapper .first_imgflex .mobile_imgcoll{
  display:none;
}

.desk_imgcollnext {
    width: 40%;
}
.desk_imgcollnext > img{
width:100%;
height:auto;
}
img.mobile_imgcollnext {
    display: none;
}
.Nextimage_coll_con {
    width: 40%;
}
.desk_imgcollnext {
    width: 100%;
}
@media only screen and (max-width: 768px) {
.Nextimage_coll_con {
    width: 100%;
  display:none;
}
img.mobile_imgcollnext {
    display: block;
}

.collage-img-container--template--16825821954207__collage_images_DajQgU > .coll-wrapper .first_imgflex .image_coll_con > .desk_imgcoll{
display:none;
}

.collage-img-container--template--16825821954207__collage_images_DajQgU > .coll-wrapper .first_imgflex .mobile_imgcoll {
    display: block;
}

.collage-img-container--{{ section.id }} > .coll-wrapper .first_imgflex > .desk_imgcoll{
  display:none;
}

.desk_imgcollnext .desk_imgcollnext{
display:none;
}
.desk_imgcollnext .mobile_imgcollnext {
display:block;
}
.collage-img-container--template--16825821954207__collage_images_DajQgU > .coll-wrapper .first_imgflex {
    display: flex;
    flex-direction: column;
}
.desk_imgcollnext {
    width: 100%;
}
.collage-img-container--{{ section.id }} > .coll-wrapper .first_imgflex .image_coll_con {
width:100%; 
}

}

</style>




<div class="collage-img-container--{{ section.id }} page-width">
<div class="coll-wrapper">
  {% for block in section.blocks %}
<div class="first_imgflex">

<div class="image_coll_con">
{% if block.settings.desk_imgcoll != blank %}
<img
                      class="desk_imgcoll"
                      srcset="{%- if block.settings.desk_imgcoll.width >= 375 -%}{{ block.settings.desk_imgcoll | image_url: width: 375 }} 375w,{%- endif -%}
                      {%- if block.settings.desk_imgcoll.width >= 550 -%}{{ block.settings.desk_imgcoll | image_url: width: 550 }} 550w,{%- endif -%}
                      {%- if block.settings.desk_imgcoll.width >= 750 -%}{{ block.settings.desk_imgcoll | image_url: width: 750 }} 750w,{%- endif -%}
                      {%- if block.settings.desk_imgcoll.width >= 1100 -%}{{ block.settings.desk_imgcoll | image_url: width: 1100 }} 1100w,{%- endif -%}
                      {%- if block.settings.desk_imgcoll.width >= 1500 -%}{{ block.settings.desk_imgcoll | image_url: width: 1500 }} 1500w,{%- endif -%}
                      {%- if block.settings.desk_imgcoll.width >= 1780 -%}{{ block.settings.desk_imgcoll | image_url: width: 1780 }} 1780w,{%- endif -%}
                      {%- if block.settings.desk_imgcoll.width >= 2000 -%}{{ block.settings.desk_imgcoll | image_url: width: 2000 }} 2000w,{%- endif -%}
                      {%- if block.settings.desk_imgcoll.width >= 3000 -%}{{ block.settings.desk_imgcoll | image_url: width: 3000 }} 3000w,{%- endif -%}
                      {%- if block.settings.desk_imgcoll.width >= 3840 -%}{{ block.settings.desk_imgcoll | image_url: width: 3840 }} 3840w,{%- endif -%}
                      {{ block.settings.desk_imgcoll | image_url }} {{ block.settings.desk_imgcoll.width }}w"
                      sizes="100vw"
                      src="{{ block.settings.desk_imgcoll | image_url: width: 1500 }}"
                      {% if forloop.index0==0 %}loading="none"{% else %}loading="lazy"{% endif %}
                      alt="{{ block.settings.desk_imgcoll.alt | escape }}"
                      width="{{ block.settings.desk_imgcoll.width }}"
                      height="{{ block.settings.desk_imgcoll.height }}"
                       >
{% endif %}
{% if block.settings.mobile_imgcoll != blank %}
<img
                      class="mobile_imgcoll"
                      srcset="{%- if block.settings.mobile_imgcoll.width >= 375 -%}{{ block.settings.mobile_imgcoll | image_url: width: 375 }} 375w,{%- endif -%}
                      {%- if block.settings.mobile_imgcoll.width >= 550 -%}{{ block.settings.mobile_imgcoll | image_url: width: 550 }} 550w,{%- endif -%}
                      {%- if block.settings.mobile_imgcoll.width >= 750 -%}{{ block.settings.mobile_imgcoll | image_url: width: 750 }} 750w,{%- endif -%}
                      {%- if block.settings.mobile_imgcoll.width >= 1100 -%}{{ block.settings.mobile_imgcoll | image_url: width: 1100 }} 1100w,{%- endif -%}
                      {%- if block.settings.mobile_imgcoll.width >= 1500 -%}{{ block.settings.mobile_imgcoll | image_url: width: 1500 }} 1500w,{%- endif -%}
                      {%- if block.settings.mobile_imgcoll.width >= 1780 -%}{{ block.settings.mobile_imgcoll | image_url: width: 1780 }} 1780w,{%- endif -%}
                      {%- if block.settings.mobile_imgcoll.width >= 2000 -%}{{ block.settings.mobile_imgcoll | image_url: width: 2000 }} 2000w,{%- endif -%}
                      {%- if block.settings.mobile_imgcoll.width >= 3000 -%}{{ block.settings.mobile_imgcoll | image_url: width: 3000 }} 3000w,{%- endif -%}
                      {%- if block.settings.mobile_imgcoll.width >= 3840 -%}{{ block.settings.mobile_imgcoll | image_url: width: 3840 }} 3840w,{%- endif -%}
                      {{ block.settings.mobile_imgcoll | image_url }} {{ block.settings.mobile_imgcoll.width }}w"
                      sizes="100vw"
                      src="{{ block.settings.mobile_imgcoll | image_url: width: 1500 }}"
                      {% if forloop.index0==0 %}loading="none"{% else %}loading="lazy"{% endif %}
                      alt="{{ block.settings.mobile_imgcoll.alt | escape }}"
                      width="{{ block.settings.mobile_imgcoll.width }}"
                      height="{{ block.settings.mobile_imgcoll.height }}"
                       >
{% endif %}

</div>
<div class="Nextimage_coll_con">
{% if block.settings.desk_imgcollnext != blank %}
<img
                      class="desk_imgcollnext"
                      srcset="{%- if block.settings.desk_imgcollnext.width >= 375 -%}{{ block.settings.desk_imgcollnext | image_url: width: 375 }} 375w,{%- endif -%}
                      {%- if block.settings.desk_imgcollnext.width >= 550 -%}{{ block.settings.desk_imgcollnext | image_url: width: 550 }} 550w,{%- endif -%}
                      {%- if block.settings.desk_imgcollnext.width >= 750 -%}{{ block.settings.desk_imgcollnext | image_url: width: 750 }} 750w,{%- endif -%}
                      {%- if block.settings.desk_imgcollnext.width >= 1100 -%}{{ block.settings.desk_imgcollnext | image_url: width: 1100 }} 1100w,{%- endif -%}
                      {%- if block.settings.desk_imgcollnext.width >= 1500 -%}{{ block.settings.desk_imgcollnext | image_url: width: 1500 }} 1500w,{%- endif -%}
                      {%- if block.settings.desk_imgcollnext.width >= 1780 -%}{{ block.settings.desk_imgcollnext | image_url: width: 1780 }} 1780w,{%- endif -%}
                      {%- if block.settings.desk_imgcollnext.width >= 2000 -%}{{ block.settings.desk_imgcollnext | image_url: width: 2000 }} 2000w,{%- endif -%}
                      {%- if block.settings.desk_imgcollnext.width >= 3000 -%}{{ block.settings.desk_imgcollnext | image_url: width: 3000 }} 3000w,{%- endif -%}
                      {%- if block.settings.desk_imgcollnext.width >= 3840 -%}{{ block.settings.desk_imgcollnext | image_url: width: 3840 }} 3840w,{%- endif -%}
                      {{ block.settings.desk_imgcollnext | image_url }} {{ block.settings.desk_imgcollnext.width }}w"
                      sizes="100vw"
                      src="{{ block.settings.desk_imgcollnext | image_url: width: 1500 }}"
                      {% if forloop.index0==0 %}loading="none"{% else %}loading="lazy"{% endif %}
                      alt="{{ block.settings.desk_imgcollnext.alt | escape }}"
                      width="{{ block.settings.desk_imgcollnext.width }}"
                      height="{{ block.settings.desk_imgcollnext.height }}"
                       >
{% endif %}
{% if  block.settings.mobile_imgcollnext != blank %}
<img
         class="mobile_imgcollnext"
                      srcset="{%- if block.settings.mobile_imgcollnext.width >= 375 -%}{{ block.settings.mobile_imgcollnext | image_url: width: 375 }} 375w,{%- endif -%}
                      {%- if block.settings.mobile_imgcollnext.width >= 550 -%}{{ block.settings.mobile_imgcollnext | image_url: width: 550 }} 550w,{%- endif -%}
                      {%- if block.settings.mobile_imgcollnext.width >= 750 -%}{{ block.settings.mobile_imgcollnext | image_url: width: 750 }} 750w,{%- endif -%}
                      {%- if block.settings.mobile_imgcollnext.width >= 1100 -%}{{ block.settings.mobile_imgcollnext | image_url: width: 1100 }} 1100w,{%- endif -%}
                      {%- if block.settings.mobile_imgcollnext.width >= 1500 -%}{{ block.settings.mobile_imgcollnext | image_url: width: 1500 }} 1500w,{%- endif -%}
                      {%- if block.settings.mobile_imgcollnext.width >= 1780 -%}{{ block.settings.mobile_imgcollnext | image_url: width: 1780 }} 1780w,{%- endif -%}
                      {%- if block.settings.mobile_imgcollnext.width >= 2000 -%}{{ block.settings.mobile_imgcollnext | image_url: width: 2000 }} 2000w,{%- endif -%}
                      {%- if block.settings.mobile_imgcollnext.width >= 3000 -%}{{ block.settings.mobile_imgcollnext | image_url: width: 3000 }} 3000w,{%- endif -%}
                      {%- if block.settings.mobile_imgcollnext.width >= 3840 -%}{{ block.settings.mobile_imgcollnext | image_url: width: 3840 }} 3840w,{%- endif -%}
                      {{ block.settings.mobile_imgcollnext | image_url }} {{ block.settings.mobile_imgcollnext.width }}w"
                      sizes="100vw"
                      src="{{ block.settings.mobile_imgcollnext | image_url: width: 1500 }}"
                      {% if forloop.index0==0 %}loading="none"{% else %}loading="lazy"{% endif %}
                      alt="{{ block.settings.mobile_imgcollnext.alt | escape }}"
                      width="{{ block.settings.mobile_imgcollnext.width }}"
                      height="{{ block.settings.mobile_imgcollnext.height }}"
                       >
{% endif %}

</div>

</div>
{% endfor %}

</div>


</div>




{% schema %}
  {
    "name": "Collage Images",
    "settings": [

      {
        "type": "range",
        "id": "coll_margindesk",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Margin Bottom Desktop",
        "default": 36
      },
      {
        "type": "range",
        "id": "margin_bottom_mobile",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Margin Bottom Mobile",
        "default": 36
      }

    ],
"blocks": [
    {
      "name": "image",
      "type": "slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "desk_imgcoll",
          "label": "Collage Image Desktop"
        },
   {
          "type": "image_picker",
          "id": "mobile_imgcoll",
          "label": "Collage Image Mobile"
        },
  {
          "type": "image_picker",
          "id": "desk_imgcollnext",
          "label": "Collage Image Desktop"
        },
   {
          "type": "image_picker",
          "id": "mobile_imgcollnext",
          "label": "Collage Image Mobile"
        }    
      ]
    }
  ],
    "presets": [
      {
        "name": "Collage-images"
      }
    ]
  }
{% endschema %}
