{{ 'section-contact-form.css' | asset_url | stylesheet_tag }}
<style>
  .detail-div-popup {
    position: absolute;
        top: 75px;
    left: 5%;
}
.contant-popup option{    font-size: clamp(calc(15 * .8px),calc(15 * (100vw / var(--viewportDesktop))),calc(15 * 1.6px)) !important;}
  .form-contact-popup .button{    padding: 8px 33px !important;}
  .form-contact-popup .contact__button {
    margin-top: 2rem !important;
}
  .country-div.custom-field {
    height: 37px;
}
  /* .form-contact-popup div{padding-top:15px} */
  .inner-contact-popup {
    position: relative;
}
  .form-contact-popup input {
    border: none !important;
    border-bottom: 1px solid #000 !important;
    padding: 0px 0px !important;
    background: none !important;
        outline: unset;
    outline-offset: unset;
    box-shadow: unset !important;width: 42%; border-radius:unset !important; height:max-content !important;
}
  .contant-popup{outline: unset;
    outline-offset: unset;
    box-shadow: unset;
    border: navajowhite;
    background: none;
                    width: 42%;
                }
.custom-field {
    grid-column: 1/3 !important;
    display: flex !important;
    align-items: flex-end;    width: 79% !important;padding: 5px 0;


}
  .contact-popup {
    position: fixed;
    z-index: 9;
    display: none;
    justify-content: center;
    width: 100%;
}
  .cross-icon-popup {
    width: max-content;
    position: absolute;
    top: 14px;
    right: 14px;
    cursor:pointer;
}
  .inner-contact-popup img{width: 100%;
    height: auto;}
  button.submit-popup {
    background-color: #874340;
    color: white;
    border-radius: 7px;
    position: absolute;
    right: 97px;
    padding: 6px 36px !important;
    margin-top: 13px;
}
  .contact-popup-img-mob{display:none;}
   @media only screen and (max-width: 380px){
     .form-contact-popup .button {
    padding: 3px 23px !important;
}
     .form-contact-popup .contact__button {
    margin-top: 0rem !important;
}
     .detail-div-popup{    top: 48px !important;}
     .form-contact-popup div {
    padding-top: 2px !important;
}
   }
  @media only screen and (min-width: 768px){
    .inner-contact-popup{    width: 650px;}
  }
   @media only screen and (max-width: 767px){
   .contact-popup-img{display:none;}
   .contact-popup-img-mob{display:block;}
     .contact-popup{top:47px;}
     
     .contact-popup{    padding: 0 20px;}
     .contact-popup p {
    width: 93%;line-height: 1.4 !important;
}
     .form-contact-popup div {
    padding-top: 8px;
}
     .inner-contact-popup{    width:353px;}
   }
  @media only screen and (min-width: 1550px){
    .inner-contact-popup {
    width: 697px;
}
  }
  @media only screen and (min-width: 1900px){
  .detail-div-popup p {
    width: 93%;
}
  }
  .popup-error, .popup-error-pinCode{display:none; font-size:8px; color:red}
  .custom-field label{
   font-size: clamp(calc(15 * .8px),calc(15 * (100vw / var(--viewportDesktop))),calc(15 * 1.6px)) !important;   width: 43%;
  } 
</style>


<div class="contact-popup">
  <div class="inner-contact-popup">
    <img
                  srcset="
                    {%- if section.settings.popup-bg-img.width >= 165 -%}{{ section.settings.popup-bg-img | image_url: width: 165 }} 165w,{%- endif -%}
                    {%- if section.settings.popup-bg-img.width >= 360 -%}{{ section.settings.popup-bg-img | image_url: width: 360 }} 360w,{%- endif -%}
                    {%- if section.settings.popup-bg-img.width >= 533 -%}{{ section.settings.popup-bg-img | image_url: width: 533 }} 533w,{%- endif -%}
                    {%- if section.settings.popup-bg-img.width >= 720 -%}{{ section.settings.popup-bg-img | image_url: width: 720 }} 720w,{%- endif -%}
                    {%- if section.settings.popup-bg-img.width >= 940 -%}{{ section.settings.popup-bg-img | image_url: width: 940 }} 940w,{%- endif -%}
                    {%- if section.settings.popup-bg-img.width >= 1066 -%}{{ section.settings.popup-bg-img | image_url: width: 1066 }} 1066w,{%- endif -%}
                    {{ section.settings.popup-bg-img | image_url }} {{ section.settings.popup-bg-img.width }}w
                  "
                  src="{{ section.settings.popup-bg-img | image_url: width: 533 }}"
                  sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                  alt="{{ section.settings.popup-bg-img.alt | escape }}"
                  class="contact-popup-img"
                   loading="lazy"
                  width="{{ section.settings.popup-bg-img.width }}"
                  height="{{ section.settings.popup-bg-img.height }}"
              >
    <img
srcset="
  {%- if section.settings.popup-bg-img-mob.width >= 165 -%}{{ section.settings.popup-bg-img-mob | image_url: width: 165 }} 165w,{%- endif -%}
  {%- if section.settings.popup-bg-img-mob.width >= 360 -%}{{ section.settings.popup-bg-img-mob | image_url: width: 360 }} 360w,{%- endif -%}
  {%- if section.settings.popup-bg-img-mob.width >= 533 -%}{{ section.settings.popup-bg-img-mob | image_url: width: 533 }} 533w,{%- endif -%}
  {%- if section.settings.popup-bg-img-mob.width >= 720 -%}{{ section.settings.popup-bg-img-mob | image_url: width: 720 }} 720w,{%- endif -%}
  {%- if section.settings.popup-bg-img-mob.width >= 940 -%}{{ section.settings.popup-bg-img-mob | image_url: width: 940 }} 940w,{%- endif -%}
  {%- if section.settings.popup-bg-img-mob.width >= 1066 -%}{{ section.settings.popup-bg-img-mob | image_url: width: 1066 }} 1066w,{%- endif -%}
  {{ section.settings.popup-bg-img-mob | image_url }} {{ section.settings.popup-bg-img-mob.width }}w
"
src="{{ section.settings.popup-bg-img-mob | image_url: width: 533 }}"
sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
alt="{{ section.settings.popup-bg-img-mob.alt | escape }}"
class="contact-popup-img-mob"
 loading="lazy"
width="{{ section.settings.popup-bg-img-mob.width }}"
height="{{ section.settings.popup-bg-img-mob.height }}"
>
    <div  class="cross-icon-popup" onclick="closePopup()">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000" height="20px" width="20px" version="1.1" id="Capa_1" viewBox="0 0 490 490" xml:space="preserve">
<polygon points="456.851,0 245,212.564 33.149,0 0.708,32.337 212.669,245.004 0.708,457.678 33.149,490 245,277.443 456.851,490   489.292,457.678 277.331,245.004 489.292,32.337 "/>
</svg>
    </div>
    <div class="detail-div-popup form-contact-popup">
      <p>{{ section.settings.contact-popup-text }}</p>
       {%- form 'contact', id: 'ContactForm', class: contact_form_class -%}
      {%- if form.posted_successfully? -%}
       <script>sessionStorage.setItem("showPopUp", "false")</script>
      {%- elsif form.errors -%}
        <div class="form__message">
          <h2 class="form-status caption-large text-body" role="alert" tabindex="-1" autofocus>
            {% render 'icon-error' %}
            {{ 'templates.contact.form.error_heading' | t }}
          </h2>
        </div>
        <ul class="form-status-list caption-large" role="list">
          <li>
            <a href="#ContactForm-email" class="link">
              {{ form.errors.translated_fields.email | capitalize }}
              {{ form.errors.messages.email }}
            </a>
          </li>
        </ul>
      {%- endif -%}
      <div class="contact__fields">
        
        <div class="field fullname custom-field">
           <label class="field__label" for="ContactForm-name"><span aria-hidden="true">*</span> {{ 'templates.contact.form.name' | t }}  </label>
          <input
            class="field__input"
            autocomplete="name"
            type="text"
            id="ContactForm-name" onkeydown="return /[a-z]/i.test(event.key)"
            name="contact[{{ 'templates.contact.form.name' | t }}]"
            value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}"
            placeholder="{{ 'templates.contact.form.name' | t }}" required
          >
         
        </div>
         <div class="field custom-field">
      <label class="field__label" for="ContactForm-phone"><span aria-hidden="true">*</span> {{ 'templates.contact.form.phone' | t }}</label>
        <input
          type="number"
          id="ContactForm "
           onkeyup="validatePhoneNumber()"
          class="field__input phoneNumber"  pattern="/^-?\d+\.?\d*$/"
          autocomplete="tel" onkeypress="if(this.value.length==10) return false;"
          name="contact[{{ 'templates.contact.form.phone' | t }}]" required
          value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}"
          placeholder="{{ 'templates.contact.form.phone' | t }}"
        >
      </div>
        <p class="popup-error">please Enter Valid Contact Number</p>
        <div class="field field--with-error custom-field">
           <label class="field__label" for="ContactForm-email">
        <span aria-hidden="true">*</span>
            {{- 'templates.contact.form.email' | t }}
           </label
          >
          <input
            autocomplete="email"
            type="email"
            id="ContactForm-email"
            class="field__input"
            name="contact[email]"
            spellcheck="false"
            autocapitalize="off"
            value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
            aria-required="true"
            {% if form.errors contains 'email' %}
              aria-invalid="true"
              aria-describedby="ContactForm-email-error"
            {% endif %}
            placeholder="{{ 'templates.contact.form.email' | t }}" required
          >
         
          {%- if form.errors contains 'email' -%}
            <small class="contact__field-error" id="ContactForm-email-error">
              <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
              <span class="form__message">
                {%- render 'icon-error' -%}
                {{- form.errors.translated_fields.email | capitalize }}
                {{ form.errors.messages.email -}}
              </span>
            </small>
          {%- endif -%}
        </div>
           <div class="country-div custom-field">
      <label for="ContactForm-contact" class=" field__label">*Country: </label>
      <select class="contant-popup">
    <option disabled="disabled" selected="true">Select Country</option>
    <option value="Afghanistan" id="ContactForm-contact" name="contact[Afghanistan]">Afghanistan</option>
<option value="Albania" id="ContactForm-contact"  name="contact[Albania]">Albania</option>

</select><br>
      </div>
        <div class="field custom-field">
           <label class="field__label" for="ContactForm-name"> <span aria-hidden="true">*</span> Pin Code   </label>
          <input
            class="field__input postalCode"
            onkeyup="validatePostalCode()"
            autocomplete="name"
            type="number"
            id="ContactForm-name" 
            name="contact['Pin code']"
            value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}"
            placeholder="School Name" required
          > 
         
        </div>
      </div>
       <p class="popup-error-pinCode">please Enter Valid Pin Code</p>
      <div class="contact__button">
        <button type="submit" class="button">
         SUBMIT
        </button>
      </div>
    {%- endform -%}
    </div>
  </div>
</div>
  <script>
    
    function closePopup(){
       document.querySelector(".contact-popup").style.display = "none"
      sessionStorage.setItem("showPopUp", "false")
    }
  function validatePhoneNumber() {
    const phoneNumberInput = document.querySelector('.phoneNumber');
    const phoneNumber = phoneNumberInput.value.trim();
    const uaePhoneNumberPattern =/^(?:\+971|971|0)?(?:2|3|4|6|7|9|50|52|54|55|56|58|59|6[0-9]|7[0-4]|7[6-9]|80|81|82|84|86|87|89)\d{7}$/;
    if (uaePhoneNumberPattern.test(phoneNumber)) {
      // phoneNumberInput.style.border = '2px solid green';
      document.querySelector('.popup-error').style.display = "none"
    } else {
      // phoneNumberInput.style.border = '2px solid red';
      document.querySelector('.popup-error').style.display = "block"
    }
  }
    function validatePostalCode() {
  const postalCodeInput = document.querySelector('.postalCode');
  const postalCode = postalCodeInput.value.trim();

  const uaePostalCodePattern = /^\d{5}$/;

  if (uaePostalCodePattern.test(postalCode)) {
   document.querySelector('.popup-error-pinCode').style.display = "none";
  } else {
    document.querySelector('.popup-error-pinCode').style.display = "block";
  }
}
</script>
{% schema %}
  {
    "name": "Section name",
    "settings": [
       {
        "type": "image_picker",
        "id": "popup-bg-img",
        "label": "Contact popup background image"
      },
       {
        "type": "image_picker",
        "id": "popup-bg-img-mob",
        "label": "Contact popup background image mobile"
      },
      {
        "type": "richtext",
        "id": "contact-popup-text",
        "label": "Enter Content"
      }
    ],
  "presets": [{
    "name": "conntact popup"
  }]
  }
{% endschema %}