{{ 'section-contact-form.css' | asset_url | stylesheet_tag }}
<style>
  .otherCountryStoreURL:hover{text-decoration:underline;text-underline-offset: 4px;}
  .displayLocationBtn{display:flex !important;justify-content: center; align-items: center; text-decoration: initial;}
  .form-contact-popup p{line-height:1.5;color:#000;}
  .dummy__contact__button{display: flex; justify-content: end; gap: 40px;margin-right:40px;}
  .otherCountryStoreURL{display:none;}
  .submit_success_div{background: white;padding: 2% 5%;display:none;}
  .contact-popup{
    position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(128, 128, 128, 0.95);
      z-index: 11;
      align-items: center;
  }
  .contant-popup option{    font-size: clamp(calc(15 * .8px),calc(15 * (100vw / var(--viewportDesktop))),calc(15 * 1.6px)) !important;}
    .form-contact-popup .button{    padding: 8px 33px !important;}
    .form-contact-popup .contact__button {
      margin-top: 10px !important;
  }
    .country-div.custom-field {
      height: 37px;
  }
    /* .form-contact-popup div{padding-top:15px} */
    .inner-contact-popup {
      position: relative;
  }
    .form-contact-popup input {
      border: none !important;
      border-bottom: 1px solid #000 !important;
      padding: 0px 0px !important;
      background: none !important;
          outline: unset;
      outline-offset: unset;
      box-shadow: unset !important;width: 42%; border-radius:unset !important; height:max-content !important;
  }
    .contant-popup{outline: unset;
      outline-offset: unset;
      box-shadow: unset;
      border: navajowhite;
      background: none;
                      width: 42%;
                  }
  .custom-field {
      grid-column: 1/3 !important;
      display: flex !important;
      align-items: flex-end;    width: 79% !important;padding: 5px 0;


  }
    .contact-popup {
      position: fixed;
      z-index: 9;
      display: none;
      justify-content: center;
      width: 100%;
  }
    .cross-icon-popup {
      width: max-content;
      position: absolute;
      top: 14px;
      right: 14px;
      cursor:pointer;
  }
    .inner-contact-popup img{width: 100%;
      height: auto;}
    button.submit-popup {
      background-color: #874340;
      color: white;
      border-radius: 7px;
      position: absolute;
      right: 97px;
      padding: 6px 36px !important;
      margin-top: 13px;
  }
    .contact-popup-img-mob{display:none;}
     @media only screen and (max-width: 380px){
       .form-contact-popup .button {
      padding: 3px 23px !important;
  }
       .form-contact-popup .contact__button {
      margin-top: 1rem !important;
  }
       .form-contact-popup div {
      padding-top: 2px !important;
  }
     }
    @media only screen and (min-width: 768px){
      .inner-contact-popup{display: flex;width: 650px;}
      .detail-div-popup.form-contact-popup{position: absolute;top: 85px; left: 35px;}
      
    }
     @media only screen and (max-width: 767px){
     .country-div .contant-popup{    width: 66% !important;}
     .contact-popup-img{display:none;}
     .contact-popup-img-mob{display:block;}

       .contact-popup{    padding: 0 20px;}
       .contact-popup p {
      width: 93%;line-height: 1.4 !important;
  }
       .form-contact-popup div {
      padding-top: 8px;
  }
       .inner-contact-popup{    width:353px;height: fit-content;padding: 20px;background: wheat;}
       .inner-contact-popup img {display: none;}
       .form-contact-popup .contact__button {
      margin-top: 1rem !important;
  }
     }
    @media only screen and (min-width: 1550px){
      .inner-contact-popup {
      width: 697px;
  }
    }
    @media only screen and (min-width: 1900px){
    .detail-div-popup p {
      width: 93%;
  }
    }
    .popup-error, .popup-error-pinCode,.popup-error-email{display:none; font-size:8px !important; color:red !important;}
    .custom-field label{
     font-size:15px !important;   width: 43%;
    }
    .custom-country-div{position:absolute; visibility:hidden;}
    .popup-error-country{display:none; font-size:8px; color:red;}
    .contact-popup input[type="text"].name-form:selected {
      background-color: transparent;
    }
  .detail-div-popup.form-contact-popup p{font-weight: 700;color: #000000BF;font-size: 15px;}
  .contact-popup label {
    font-weight: 700;
    color: #000000BF;
    font-size: 15px; 
  }
  .contact__button.dummy__contact__button {text-align: center;}
  .btn-disabled {pointer-events: none; opacity: .5;}
  .popup-error, .popup-error-pinCode  {font-size: 9px !important;}
  button.button.custom-button-popup {background-color: #874340;}
</style>

<div class="contact-popup">
  <div class="inner-contact-popup">
    {% if section.settings['popup-bg-img'] %}
      <img
        srcset="
          {%- if section.settings.popup-bg-img.width >= 165 -%}{{ section.settings.popup-bg-img | image_url: width: 165 }} 165w,{%- endif -%}
          {%- if section.settings.popup-bg-img.width >= 360 -%}{{ section.settings.popup-bg-img | image_url: width: 360 }} 360w,{%- endif -%}
          {%- if section.settings.popup-bg-img.width >= 533 -%}{{ section.settings.popup-bg-img | image_url: width: 533 }} 533w,{%- endif -%}
          {%- if section.settings.popup-bg-img.width >= 720 -%}{{ section.settings.popup-bg-img | image_url: width: 720 }} 720w,{%- endif -%}
          {%- if section.settings.popup-bg-img.width >= 940 -%}{{ section.settings.popup-bg-img | image_url: width: 940 }} 940w,{%- endif -%}
          {%- if section.settings.popup-bg-img.width >= 1066 -%}{{ section.settings.popup-bg-img | image_url: width: 1066 }} 1066w,{%- endif -%}
          {{ section.settings.popup-bg-img | image_url }} {{ section.settings.popup-bg-img.width }}w
        "
        src="{{ section.settings.popup-bg-img | image_url: width: 533 }}"
        sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
        alt="{{ section.settings.popup-bg-img.alt | escape }}"
        class="contact-popup-img"
        loading="lazy"
        width="{{ section.settings.popup-bg-img.width }}"
        height="{{ section.settings.popup-bg-img.height }}"
      >
    {% else %}
      <img
        src="https://cdn.shopify.com/s/files/1/0628/7690/9727/files/popupbg_1.jpg?v=1703155594"
        class="contact-popup-img"
        width="500"
        height="600"
      >
    {% endif %}

    {% if section.settings['popup-bg-img-mob'] %}
      <img
        srcset="
          {%- if section.settings.popup-bg-img-mob.width >= 165 -%}{{ section.settings.popup-bg-img-mob | image_url: width: 165 }} 165w,{%- endif -%}
          {%- if section.settings.popup-bg-img-mob.width >= 360 -%}{{ section.settings.popup-bg-img-mob | image_url: width: 360 }} 360w,{%- endif -%}
          {%- if section.settings.popup-bg-img-mob.width >= 533 -%}{{ section.settings.popup-bg-img-mob | image_url: width: 533 }} 533w,{%- endif -%}
          {%- if section.settings.popup-bg-img-mob.width >= 720 -%}{{ section.settings.popup-bg-img-mob | image_url: width: 720 }} 720w,{%- endif -%}
          {%- if section.settings.popup-bg-img-mob.width >= 940 -%}{{ section.settings.popup-bg-img-mob | image_url: width: 940 }} 940w,{%- endif -%}
          {%- if section.settings.popup-bg-img-mob.width >= 1066 -%}{{ section.settings.popup-bg-img-mob | image_url: width: 1066 }} 1066w,{%- endif -%}
          {{ section.settings.popup-bg-img-mob | image_url }} {{ section.settings.popup-bg-img-mob.width }}w
        "
        src="{{ section.settings.popup-bg-img-mob | image_url: width: 533 }}"
        sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
        alt="{{ section.settings.popup-bg-img-mob.alt | escape }}"
        class="contact-popup-img-mob"
        loading="lazy"
        width="{{ section.settings.popup-bg-img-mob.width }}"
        height="{{ section.settings.popup-bg-img-mob.height }}"
      >
    {% else %}
      <img
        src="https://cdn.shopify.com/s/files/1/0628/7690/9727/files/popup-mobile.jpg?v=1703155610"
        class="contact-popup-img-mob"
        width="500"
        height="600"
      >
    {% endif %}
    <div class="cross-icon-popup" onclick="closePopup()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        fill="#000000"
        height="20px"
        width="20px"
        version="1.1"
        id="Capa_1"
        viewBox="0 0 490 490"
        xml:space="preserve"
      >
        <polygon points="456.851,0 245,212.564 33.149,0 0.708,32.337 212.669,245.004 0.708,457.678 33.149,490 245,277.443 456.851,490   489.292,457.678 277.331,245.004 489.292,32.337 "/>
      </svg>
    </div>
    <div class="detail-div-popup form-contact-popup">
      {% if section.settings['contact-popup-text'] %}
        <p>{{ section.settings['contact-popup-text'] }}</p>
      {% endif %}
      <form id="ContactForm" class="contact_form_class">
        <div class="contact__fields">
          <div class="field fullname custom-field">
    <label class="field__label" for="ContactForm-name">
        <span aria-hidden="true">*</span> {{ 'templates.contact.form.name' | t }}
    </label>
    <input
        class="field__input"
        autocomplete="off"
        type="text"
        id="ContactForm-name"
        class="name-form"
        onkeydown="return /[a-z ]/i.test(event.key)"
        name="contact[{{ 'templates.contact.form.name' | t }}]"
        value="{% if customer %}{{ customer.name }}{% endif %}"
        placeholder="{{ 'templates.contact.form.name' | t }}"
        required
    >
</div>

         <div class="field custom-field">
  <label class="field__label" for="ContactForm-phone">
    <span aria-hidden="true">*</span> {{ 'templates.contact.form.phone' | t }}
  </label>
  <input
    type="number"
    id="ContactForm-phone"
    onkeyup="validatePhoneNumber()"
    class="field__input phoneNumber"
    inputmode="numeric"  autocomplete="tel"
    maxlength="16"    name="contact[{{ 'templates.contact.form.phone' | t }}]"
    required
    value="{% if customer %}{{ customer.phone }}{% endif %}"
    placeholder="{{ 'templates.contact.form.phone' | t }}"
  >
</div>

          <p class="popup-error">please Enter Valid Contact Number</p>
          <div class="field field--with-error custom-field">
            <label class="field__label" for="ContactForm-email">
              <span aria-hidden="true">* </span>
              {{- 'templates.contact.form.email' | t }}
            </label>
            <input
              autocomplete="off"
              type="email"
              id="ContactForm-email"
              onkeyup="validateEmail()"
              class="field__input"
              name="contact[email]"
              spellcheck="false"
              autocapitalize="off"
              value="{% if customer %}{{ customer.email }}{% endif %}"
              aria-required="true"
              placeholder="{{ 'templates.contact.form.email' | t }}"
              required
            >
          </div>
           <p class="popup-error-email">please provide valid email</p>
          <div class="field custom-field custom-country-div">
            <label class="field__label" for="ContactForm-country"> <span aria-hidden="true">* </span> Country </label>
            <input
              class="field__input custom-country"
              autocomplete="name"
              type="text"
              id="ContactForm-country"
              name="contact[Country]"
              value="{% if customer %}{{ customer.name }}{% endif %}"
              placeholder="Country"
              required
            >
          </div>
          <div class="country-div custom-field">
            <label for="ContactForm-contact" class=" field__label"> <span>* </span>Country: </label>
            <select class="contant-popup" onchange="countryName()" required>
              <option disabled="disabled" selected>Select Country</option>
              <option value="Afghanistan" name="contact[Afghanistan]">Afghanistan</option>
              <option value="Albania">Albania</option>
              <option value="Algeria">Algeria</option>
              <option value="American Samoa">American Samoa</option>
              <option value="Andorra">Andorra</option>
              <option value="Angola">Angola</option>
              <option value="Anguilla">Anguilla</option>
              <option value="Antartica">Antarctica</option>
              <option value="Antigua and Barbuda">Antigua and Barbuda</option>
              <option value="Argentina">Argentina</option>
              <option value="Armenia">Armenia</option>
              <option value="Aruba">Aruba</option>
              <option value="Australia">Australia</option>
              <option value="Austria">Austria</option>
              <option value="Azerbaijan">Azerbaijan</option>
              <option value="Bahamas">Bahamas</option>
              <option value="Bahrain">Bahrain</option>
              <option value="Bangladesh">Bangladesh</option>
              <option value="Barbados">Barbados</option>
              <option value="Belarus">Belarus</option>
              <option value="Belgium">Belgium</option>
              <option value="Belize">Belize</option>
              <option value="Benin">Benin</option>
              <option value="Bermuda">Bermuda</option>
              <option value="Bhutan">Bhutan</option>
              <option value="Bolivia">Bolivia</option>
              <option value="Bosnia and Herzegowina">Bosnia and Herzegowina</option>
              <option value="Botswana">Botswana</option>
              <option value="Bouvet Island">Bouvet Island</option>
              <option value="Brazil">Brazil</option>
              <option value="British Indian Ocean Territory">British Indian Ocean Territory</option>
              <option value="Brunei Darussalam">Brunei Darussalam</option>
              <option value="Bulgaria">Bulgaria</option>
              <option value="Burkina Faso">Burkina Faso</option>
              <option value="Burundi">Burundi</option>
              <option value="Cambodia">Cambodia</option>
              <option value="Cameroon">Cameroon</option>
              <option value="Canada">Canada</option>
              <option value="Cape Verde">Cape Verde</option>
              <option value="Cayman Islands">Cayman Islands</option>
              <option value="Central African Republic">Central African Republic</option>
              <option value="Chad">Chad</option>
              <option value="Chile">Chile</option>
              <option value="China">China</option>
              <option value="Christmas Island">Christmas Island</option>
              <option value="Cocos Islands">Cocos (Keeling) Islands</option>
              <option value="Colombia">Colombia</option>
              <option value="Comoros">Comoros</option>
              <option value="Congo">Congo</option>
              <option value="Congo">Congo, the Democratic Republic of the</option>
              <option value="Cook Islands">Cook Islands</option>
              <option value="Costa Rica">Costa Rica</option>
              <option value="Cota D'Ivoire">Cote d'Ivoire</option>
              <option value="Croatia">Croatia (Hrvatska)</option>
              <option value="Cuba">Cuba</option>
              <option value="Cyprus">Cyprus</option>
              <option value="Czech Republic">Czech Republic</option>
              <option value="Denmark">Denmark</option>
              <option value="Djibouti">Djibouti</option>
              <option value="Dominica">Dominica</option>
              <option value="Dominican Republic">Dominican Republic</option>
              <option value="East Timor">East Timor</option>
              <option value="Ecuador">Ecuador</option>
              <option value="Egypt">Egypt</option>
              <option value="El Salvador">El Salvador</option>
              <option value="Equatorial Guinea">Equatorial Guinea</option>
              <option value="Eritrea">Eritrea</option>
              <option value="Estonia">Estonia</option>
              <option value="Ethiopia">Ethiopia</option>
              <option value="Falkland Islands">Falkland Islands (Malvinas)</option>
              <option value="Faroe Islands">Faroe Islands</option>
              <option value="Fiji">Fiji</option>
              <option value="Finland">Finland</option>
              <option value="France">France</option>
              <option value="France Metropolitan">France, Metropolitan</option>
              <option value="French Guiana">French Guiana</option>
              <option value="French Polynesia">French Polynesia</option>
              <option value="French Southern Territories">French Southern Territories</option>
              <option value="Gabon">Gabon</option>
              <option value="Gambia">Gambia</option>
              <option value="Georgia">Georgia</option>
              <option value="Germany">Germany</option>
              <option value="Ghana">Ghana</option>
              <option value="Gibraltar">Gibraltar</option>
              <option value="Greece">Greece</option>
              <option value="Greenland">Greenland</option>
              <option value="Grenada">Grenada</option>
              <option value="Guadeloupe">Guadeloupe</option>
              <option value="Guam">Guam</option>
              <option value="Guatemala">Guatemala</option>
              <option value="Guinea">Guinea</option>
              <option value="Guinea-Bissau">Guinea-Bissau</option>
              <option value="Guyana">Guyana</option>
              <option value="Haiti">Haiti</option>
              <option value="Heard and McDonald Islands">Heard and Mc Donald Islands</option>
              <option value="Holy See">Holy See (Vatican City State)</option>
              <option value="Honduras">Honduras</option>
              <option value="Hong Kong">Hong Kong</option>
              <option value="Hungary">Hungary</option>
              <option value="Iceland">Iceland</option>
              <option value="India">India</option>
              <option value="Indonesia">Indonesia</option>
              <option value="Iran">Iran (Islamic Republic of)</option>
              <option value="Iraq">Iraq</option>
              <option value="Ireland">Ireland</option>
              <option value="Israel">Israel</option>
              <option value="Italy">Italy</option>
              <option value="Jamaica">Jamaica</option>
              <option value="Japan">Japan</option>
              <option value="Jordan">Jordan</option>
              <option value="Kazakhstan">Kazakhstan</option>
              <option value="Kenya">Kenya</option>
              <option value="Kiribati">Kiribati</option>
              <option value="Democratic People's Republic of Korea">Korea, Democratic People's Republic of</option>
              <option value="Korea">Korea, Republic of</option>
              <option value="Kuwait">Kuwait</option>
              <option value="Kyrgyzstan">Kyrgyzstan</option>
              <option value="Lao">Lao People's Democratic Republic</option>
              <option value="Latvia">Latvia</option>
              <option value="Lebanon">Lebanon</option>
              <option value="Lesotho">Lesotho</option>
              <option value="Liberia">Liberia</option>
              <option value="Libyan Arab Jamahiriya">Libyan Arab Jamahiriya</option>
              <option value="Liechtenstein">Liechtenstein</option>
              <option value="Lithuania">Lithuania</option>
              <option value="Luxembourg">Luxembourg</option>
              <option value="Macau">Macau</option>
              <option value="Macedonia">Macedonia, The Former Yugoslav Republic of</option>
              <option value="Madagascar">Madagascar</option>
              <option value="Malawi">Malawi</option>
              <option value="Malaysia">Malaysia</option>
              <option value="Maldives">Maldives</option>
              <option value="Mali">Mali</option>
              <option value="Malta">Malta</option>
              <option value="Marshall Islands">Marshall Islands</option>
              <option value="Martinique">Martinique</option>
              <option value="Mauritania">Mauritania</option>
              <option value="Mauritius">Mauritius</option>
              <option value="Mayotte">Mayotte</option>
              <option value="Mexico">Mexico</option>
              <option value="Micronesia">Micronesia, Federated States of</option>
              <option value="Moldova">Moldova, Republic of</option>
              <option value="Monaco">Monaco</option>
              <option value="Mongolia">Mongolia</option>
              <option value="Montserrat">Montserrat</option>
              <option value="Morocco">Morocco</option>
              <option value="Mozambique">Mozambique</option>
              <option value="Myanmar">Myanmar</option>
              <option value="Namibia">Namibia</option>
              <option value="Nauru">Nauru</option>
              <option value="Nepal">Nepal</option>
              <option value="Netherlands">Netherlands</option>
              <option value="Netherlands Antilles">Netherlands Antilles</option>
              <option value="New Caledonia">New Caledonia</option>
              <option value="New Zealand">New Zealand</option>
              <option value="Nicaragua">Nicaragua</option>
              <option value="Niger">Niger</option>
              <option value="Nigeria">Nigeria</option>
              <option value="Niue">Niue</option>
              <option value="Norfolk Island">Norfolk Island</option>
              <option value="Northern Mariana Islands">Northern Mariana Islands</option>
              <option value="Norway">Norway</option>
              <option value="Oman">Oman</option>
              <option value="Pakistan">Pakistan</option>
              <option value="Palau">Palau</option>
              <option value="Panama">Panama</option>
              <option value="Papua New Guinea">Papua New Guinea</option>
              <option value="Paraguay">Paraguay</option>
              <option value="Peru">Peru</option>
              <option value="Philippines">Philippines</option>
              <option value="Pitcairn">Pitcairn</option>
              <option value="Poland">Poland</option>
              <option value="Portugal">Portugal</option>
              <option value="Puerto Rico">Puerto Rico</option>
              <option value="Qatar">Qatar</option>
              <option value="Reunion">Reunion</option>
              <option value="Romania">Romania</option>
              <option value="Russia">Russian Federation</option>
              <option value="Rwanda">Rwanda</option>
              <option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option>
              <option value="Saint LUCIA">Saint LUCIA</option>
              <option value="Saint Vincent">Saint Vincent and the Grenadines</option>
              <option value="Samoa">Samoa</option>
              <option value="San Marino">San Marino</option>
              <option value="Sao Tome and Principe">Sao Tome and Principe</option>
              <option value="Saudi Arabia">Saudi Arabia</option>
              <option value="Senegal">Senegal</option>
              <option value="Seychelles">Seychelles</option>
              <option value="Sierra">Sierra Leone</option>
              <option value="Singapore">Singapore</option>
              <option value="Slovakia">Slovakia (Slovak Republic)</option>
              <option value="Slovenia">Slovenia</option>
              <option value="Solomon Islands">Solomon Islands</option>
              <option value="Somalia">Somalia</option>
              <option value="South Africa">South Africa</option>
              <option value="South Georgia">South Georgia and the South Sandwich Islands</option>
              <option value="Spain">Spain</option>
              <option value="SriLanka">Sri Lanka</option>
              <option value="St. Helena">St. Helena</option>
              <option value="St. Pierre and Miquelon">St. Pierre and Miquelon</option>
              <option value="Sudan">Sudan</option>
              <option value="Suriname">Suriname</option>
              <option value="Svalbard">Svalbard and Jan Mayen Islands</option>
              <option value="Swaziland">Swaziland</option>
              <option value="Sweden">Sweden</option>
              <option value="Switzerland">Switzerland</option>
              <option value="Syria">Syrian Arab Republic</option>
              <option value="Taiwan">Taiwan, Province of China</option>
              <option value="Tajikistan">Tajikistan</option>
              <option value="Tanzania">Tanzania, United Republic of</option>
              <option value="Thailand">Thailand</option>
              <option value="Togo">Togo</option>
              <option value="Tokelau">Tokelau</option>
              <option value="Tonga">Tonga</option>
              <option value="Trinidad and Tobago">Trinidad and Tobago</option>
              <option value="Tunisia">Tunisia</option>
              <option value="Turkey">Turkey</option>
              <option value="Turkmenistan">Turkmenistan</option>
              <option value="Turks and Caicos">Turks and Caicos Islands</option>
              <option value="Tuvalu">Tuvalu</option>
              <option value="Uganda">Uganda</option>
              <option value="Ukraine">Ukraine</option>
              <option value="United Arab Emirates">United Arab Emirates</option>
              <option value="United Kingdom">United Kingdom</option>
              <option value="United States">United States</option>
              <option value="United States Minor Outlying Islands">United States Minor Outlying Islands</option>
              <option value="Uruguay">Uruguay</option>
              <option value="Uzbekistan">Uzbekistan</option>
              <option value="Vanuatu">Vanuatu</option>
              <option value="Venezuela">Venezuela</option>
              <option value="Vietnam">Vietnam</option>
              <option value="Virgin Islands (British)">Virgin Islands (British)</option>
              <option value="Virgin Islands (U.S)">Virgin Islands (U.S.)</option>
              <option value="Wallis and Futuna Islands">Wallis and Futuna Islands</option>
              <option value="Western Sahara">Western Sahara</option>
              <option value="Yemen">Yemen</option>
              <option value="Serbia">Serbia</option>
              <option value="Zambia">Zambia</option>
              <option value="Zimbabwe">Zimbabwe</option>
              </select><br>
          </div>
          <p class="popup-error-country">please Select a Country</p>
          <div class="field custom-field">
  <label class="field__label" for="ContactForm-pincode">
    <span aria-hidden="true">*</span> Pin Code
  </label>
  <input
    class="field__input postalCode"
    autocomplete="off"
    id="ContactForm-pincode"
    name="contact[Pin code]"
    maxlength="10"
    placeholder="Pin Code"
    required
  >
</div>

        </div>
        <p class="popup-error-pinCode">please Enter Valid Pin Code</p>
        {% if template.name == 'product' %}
          <input
            class="field__input product"
            type="hidden"
            id="ContactForm-product"
            name="contact[Product]"
            value="{{ product.title }}"
          >
        {% endif %}
        <div class="contact__button hidden mainFormBtn">
          <button type="submit" class="button custom-button-popup">SUBMIT</button>
        </div>
      </form>
      <div class="contact__button dummy__contact__button">
         {% if settings.store_url != blank %}
        {% assign urlArray = settings.store_url | split:"##" %}
        {% for url in urlArray %}
          {% assign seperateCountry = url | split:"==" %}
          {% assign countryURL = seperateCountry[1] | split:'/?utm_source' %}
         <a class="otherCountryStoreURL" href="{{ seperateCountry[1] }}" target="_blank" data="{{ seperateCountry[0] }}">{{ settings.store_btn_text }} {{ countryURL[0] | remove:'https://' }}</a>
        {% endfor %}
       {% endif %}
        <button type="button" class="button custom-button-popup">SUBMIT</button>
      </div>
    </div>
  </div>

  <div class="submit_success_div">FORM SUBMITTED SUCCESSFULLY</div>
</div>
<script>
  window.addEventListener('DOMContentLoaded', function() {
    fetch("https://ipapi.co/json/")
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(data => {
           
            document.getElementById('ContactForm-pincode').value = data.postal;
        })
        .catch(error => {
            console.error('There was a problem with the fetch operation:', error);
        });
});

window.addEventListener("DOMContentLoaded", (event) => {
  fetch(`${window.location.origin}/browsing_context_suggestions.json`)
    .then((response) => response.json())
    .then((result) => {
     
        document.querySelectorAll('.contant-popup option').forEach((e)=>{
               if(e.value == result.detected_values.country.name){
                 e.setAttribute('selected', 'selected');
                 document.getElementById('ContactForm-country').value = e.value;
               }
            })
        if(document.querySelector('.otherCountryStoreURL') != null){
             document.querySelectorAll('.otherCountryStoreURL').forEach((e)=>{
                  const buttonData = e.getAttribute('data').toLowerCase();
                  const countryName = result.detected_values.country.name.toLowerCase();
                  console.log(countryName+" countryNamecountryName")
                  console.log(buttonData+" buttonDatabuttonData")
                  if (buttonData === countryName) {
                     e.classList.add('displayLocationBtn');
                     console.log(countryName+" countryNamematched")
                     console.log(buttonData+" buttonDatamatched")
                  }
             })
        }
    })
    .catch((error) => console.log("error", error));
  });
  
</script>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    // Check if window.location.href contains "contact_posted=true"
    if (window.location.href.includes('contact_posted=true')) {
      // Your desired action when the parameter is present
      setTimeout(function () {
        document.querySelector('.inner-contact-popup').style.display = 'none';
        document.querySelector('.contact-popup').style.display = 'flex';
        document.querySelector('body').classList.add('overflow-hidden');
        document.querySelector('.submit_success_div').style.display = 'block';
      }, 3000);
      setTimeout(function () {
        document.querySelector('.contact-popup').style.display = 'none';
        document.querySelector('body').classList.remove('overflow-hidden');
        let currentUrl = window.location.href;
        let cleanUrl = currentUrl.split('?')[0].split('#')[0];
        window.history.replaceState({}, document.title, cleanUrl);
      }, 6000);
    }
  });

  function closePopup() {
    document.querySelector('.contact-popup').style.display = 'none';
    document.querySelector('body').classList.remove('overflow-hidden');
    sessionStorage.setItem('showPopUp', 'false');
  }

 function validatePhoneNumber() {
  const phoneNumberInput = document.querySelector('.phoneNumber');
  const phoneNumber = phoneNumberInput.value.trim();

  // Clear old error messages:
  document.querySelector('.popup-error').textContent = "";

  // Regular expression for 8-16 digits:
  const phoneNumberPattern = /^\d{8,16}$/;

  if (phoneNumberPattern.test(phoneNumber)) {
    document.querySelector('.popup-error').style.display = 'none';
  } else {
    // Display error message with dynamic length information:
    const errorMessage = "Please enter a valid phone number.";
    document.querySelector('.popup-error').textContent = errorMessage;
    document.querySelector('.popup-error').style.display = 'block';
  }
}
  function validateEmail(){
    const mailId = document.getElementById('ContactForm-email').value
    const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
     if (emailRegex.test(mailId)) {
        document.querySelector('.popup-error-email').style.display = 'none';
      } else {
        // Clear old error messages:
        document.querySelector('.popup-error-email').style.display = 'block';
      }
          
  }
  

const postalCodeInput = document.querySelector('.postalCode');

postalCodeInput.addEventListener('input', (event) => {
  // Limit the value to 6 characters
  postalCodeInput.value = postalCodeInput.value.slice(0, 6);
});



  function countryName() {
    var dropdown = document.querySelector('.contant-popup');
    var selectedValue = dropdown.options[dropdown.selectedIndex].value;
    document.querySelector('.popup-error-country').style.display = 'none';
    document.querySelector('.custom-country').value = selectedValue;
    const selectedCountryValue = selectedValue.toLowerCase();
        document.querySelectorAll('.otherCountryStoreURL').forEach((e)=>{
            const buttonData = e.getAttribute('data').toLowerCase();
            if (buttonData === selectedCountryValue) {
                e.classList.add('displayLocationBtn');
               
              }else {
                e.classList.remove('displayLocationBtn');
            }
        })
  }
  
  document.querySelector('.custom-button-popup').addEventListener('click', function () {
    if (document.querySelector('.custom-country').value === '') {
      document.querySelector('.popup-error-country').style.display = 'block';
    }
  });
</script>
<script>
      function isValidEmail(mailId){
        const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
         return emailRegex.test(mailId);      
      }

      function isValidPhoneNumber(phoneNumber) {
          // Regular expression for phone number validation
          const phoneRegex = /^\d{8,16}$/;
          return phoneRegex.test(phoneNumber);
      }

    let dummySubmitBtn = document.querySelector('.dummy__contact__button button');
    dummySubmitBtn.addEventListener('click', async function(e) {
      e.preventDefault();

      let name = document.getElementById('ContactForm-name').value;
      let phone = document.getElementById('ContactForm-phone').value;
      let email = document.getElementById('ContactForm-email').value;
      let country = document.getElementById('ContactForm-country').value;
      let pinCode = document.getElementById('ContactForm-pincode').value;
      let product = document.getElementById('ContactForm-product')?.value || '';
      let currentDate = new Date();
      let formattedDate = currentDate.toISOString().split('T')[0]; // Get date in format YYYY-MM-DD
      let formattedTime = currentDate.toTimeString().split(' ')[0]; // Get time in format HH:MM:SS


      let raw = {
        "field1": name,
        "field2": phone,
        "field3": email,
        "field4": country,
        "field5": pinCode,
        "field6": product,
        "field7": formattedDate, // Add current date to field7
        "field8": formattedTime  // Add current time to field8
      };
      if(pinCode.trim() == ''){
        document.querySelector('.popup-error-pinCode').style.display="block";
      }
      if (name.trim() !== '' && isValidEmail(email) && isValidPhoneNumber(phone) && pinCode.trim() !== '' ){
        var requestOptions = {
          method: 'POST',
          body: JSON.stringify(raw),
          redirect: 'follow',
        };

        let dummyFormBtn = document.querySelectorAll('button.button.custom-button-popup');
        dummyFormBtn.forEach((btn) => {
          btn.classList.add('btn-disabled');
        });

        try {
          const response = await fetch("https://script.google.com/macros/s/AKfycbzPfXeFR9UOHIkuhvwOeqfBTfT3CBg61nle-BbGaD5mY-tWQeSs4qpqyn7NK8WbgcstJw/exec?action=sendResponse", requestOptions);
          const result = await response.json();
      
          let formBtn = document.querySelector('.mainFormBtn button');
          formBtn.click();
        } catch (error) {
          console.error('Error sending data:', error);
          throw error;
        }
      } else {
          return;
      }
    });

    const form = document.querySelector('#ContactForm');
    form.addEventListener('submit', (event) => {
      event.preventDefault();
      window.location.href = window.location.href + "?contact_posted=true";
    });
</script>

{% schema %}
{
  "name": "Section name",
  "settings": [
    {
      "type": "image_picker",
      "id": "popup-bg-img",
      "label": "Contact popup background image"
    },
    {
      "type": "image_picker",
      "id": "popup-bg-img-mob",
      "label": "Contact popup background image mobile"
    },
    {
      "type": "richtext",
      "id": "contact-popup-text",
      "label": "Enter Content"
    }
  ],
  "presets": [
    {
      "name": "conntact popup"
    }
  ]
}
{% endschema %} 
