<style>

  .about-us-container .text-container, .about-us-container .text-container p{
        text-align: center;
           line-height:normal !important;
    }

    .about-us-container .block-container{
        display: flex;
        justify-content: center;
        text-align: center;
      gap:4rem;
    }

    .about-us-container{
      margin-Bottom: 80px
    }
    

    .about-us-container  .box-container{
      background-color: black;
    height: 150px;
    display: flex;
    width: 200px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: black;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
    }

    .box-container h2{
        color: white;
    }

    .gift-about-us-title p{
      color: #000;
    font-family: PlayfairDisplay-Bold;
    line-height: normal;
    letter-spacing: 0.3px;
    font-size: 28px;
    margin-bottom: 14px;
    }

    .about-us-container .gift-about-us-description p{
      font-size: 15px !important;
    }

   .about-us-container  .text-container{
    margin-Bottom: 60px;
  }

  .about-us-container .gift-about-us-title{
    margin-Bottom: 30px;
  }

 .about-us-container .gift-card-about-us-title p{
    font-size: 18px;
    color: white;
  }
  
  .about-us-container .gift-card-about-us-description p{
    font-size: 18px;
    color: white;

  }


  @media only screen and (max-width: 749px) {
    .about-us-container .block-container{
    
      gap: 20px;
       display: grid;
      grid-template-columns: 1fr 1fr;
    }
      .about-us-container  .box-container{
        width:100%;
      }
  }








  

</style>
<div class="about-us-container main-baner-{{ section.id }} page-width">
    <div class = "text-container">
        {% if section.settings.About_Us_title != blank %}
              <h2 class="gift-about-us-title">{{ section.settings.About_Us_title}}</h2>
        {% endif %}

        {% if section.settings.About_us_description != blank %}
            <p class="gift-about-us-description">{{ section.settings.About_us_description }}</p>
      {% endif %}
        
    </div>

    <div class="block-container">
        {% for block in section.blocks %}
            <div class="box-container">
                {% if block.settings.Card_Number != blank %}
                    <h2 class="gift-card-about-us-title">{{ block.settings.Card_Number }}</h2>
              {% endif %}

              {% if block.settings.Card_text != blank%}
                <h2 class="gift-card-about-us-description">{{ block.settings.Card_text }}</h2>
          {% endif %}
            </div>
        {% endfor %}
    </div>

</div>


{% schema %}
  {
    "name": "Gift About Us",
    "settings": [

      {
        "type": "range",
        "id": "margin_bottom_desktop",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Margin Bottom Desktop",
        "default": 36
      },
      {
        "type": "range",
        "id": "margin_bottom_mobile",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Margin Bottom Mobile",
        "default": 36
      },
      {
        "type": "richtext",
        "id": "About_Us_title",
        "label": "About Us title"
      },
      {
        "type": "richtext",
        "id": "About_us_description",
        "label": "About us description"
      }

    ],
    "blocks":[
   {
     "name":"gift about us Card",
     "type":"card",
     "limit": 4,
     "settings":[
        {
            "type": "color",
            "id": "background_color",
            "label": "Card BackGround Color",
            "default": "#000000"
          },
          {
            "type": "richtext",
            "id": "Card_Number",
            "label": "Card Number"
          },
          {
            "type": "richtext",
            "id": "Card_text",
            "label": "Card text"
          }
     ]
   }
   ],
    "presets": [
      {
        "name": "gift_About_Us"
      }
    ]
  }
{% endschema %}
