<style>
    .grid_logos--{{ section.id }} {
    margin-bottom: {{ section.settings.coll_margindesk }}px;
  }

  @media screen and (max-width: 750px) {
    .grid_logos--{{ section.id }}{
      margin-bottom: {{ section.settings.margin_bottom_mobile }}px;
    }
  }
  
.grid_logos--{{ section.id }} .grid-text-logos-flex{
display:flex;
justify-content:center;
align-items: center;
}

.grid_logos--{{ section.id }} .grid-text-logos-flex .Logos-text-custom{
   width: 50%;
}
.grid_logos--{{ section.id }} .grid-text-logos-flex .main-log-grid{
display:grid;
  grid-template-columns: repeat(3, 1fr);
  width: 50%;
gap: 2rem;
}
.Logos-text-custom > h2 {
    width: 50%;
    color: #000;
    font-family: PlayfairDisplay-Bold;
    line-height: normal;
    letter-spacing: 0.3px;
    font-size: 28px;
    margin-bottom: 14px;
}
.grid_logos--{{ section.id }}  .logos_main_inner{
   max-width: 100px;
    object-fit: contain;
}
@media only screen and (max-width: 600px) {
.grid_logos--{{ section.id }} .grid-text-logos-flex{
flex-direction: column;
gap: 2rem;
}
.grid_logos--{{ section.id }} .grid-text-logos-flex .main-log-grid{
  width: 100%;
}
.grid_logos--{{ section.id }} .grid-text-logos-flex .Logos-text-custom {
    width: 100%;
    text-align: center;
}
.Logos-text-custom > h2 {
    width: 100%;
    line-height: 1.4;
}


}




</style>








<div class="grid_logos--{{ section.id }} page-width">
<div class="grid-text-logos-flex">
<div class="Logos-text-custom">
<h2>{{ section.settings.heading_logos }}</h2>
</div>
<div class="main-log-grid">
  {% for block in section.blocks %}
{% if block.settings.logos_main_inner != blank %}
<img
         class="logos_main_inner"
                      srcset="{%- if block.settings.logos_main_inner.width >= 375 -%}{{ block.settings.logos_main_inner | image_url: width: 375 }} 375w,{%- endif -%}
                      {%- if block.settings.logos_main_inner.width >= 550 -%}{{ block.settings.logos_main_inner | image_url: width: 550 }} 550w,{%- endif -%}
                      {{ block.settings.logos_main_inner | image_url }} {{ block.settings.logos_main_inner.width }}w"
                      sizes="100vw"
                      src="{{ block.settings.logos_main_inner | image_url: width: 300 }}"
                      {% if forloop.index0==0 %}loading="none"{% else %}loading="lazy"{% endif %}
                      alt="{{ block.settings.logos_main_inner.alt | escape }}"
                      width="{{ block.settings.logos_main_inner.width }}"
                      height="{{ block.settings.logos_main_inner.height }}"
                       >
{% endif %}
{% endfor %}



</div>
</div>

</div>



{% schema %}
  {
    "name": "Grid logos",
    "settings": [

      {
        "type": "range",
        "id": "coll_margindesk",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Margin Bottom Desktop",
        "default": 36
      },
      {
        "type": "range",
        "id": "margin_bottom_mobile",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Margin Bottom Mobile",
        "default": 36
      },
  {
          "type": "text",
          "id": "heading_logos",
          "label": "Heading"
        }

    ],
"blocks": [
    {
      "name": "Logos",
      "type": "slide",
      "settings": [
            {
          "type": "image_picker",
          "id": "logos_main_inner",
          "label": "Logo"
        }
      ]
    }
  ],
    "presets": [
      {
        "name": "Grid-logos"
      }
    ]
  }
{% endschema %}