<style>
.grid_logos--{{ section.id }} .grid-text-logos-flex{
display:flex;
justify-content:center;
align-items: center;
}
.grid_logos--{{ section.id }} .grid-text-logos-flex .Logos-text-custom{
   width: 50%;
}
.grid_logos--{{ section.id }} .grid-text-logos-flex .main-log-grid{
display:grid;
  grid-template-columns: repeat(3, 1fr);
  width: 50%;
gap: 2rem;
}
.Logos-text-custom > h3 {
    width: 50%;
    line-height: 1.4;
}

@media only screen and (max-width: 600px) {
.grid_logos--{{ section.id }} .grid-text-logos-flex{
flex-direction: column;
gap: 2rem;
}
.grid_logos--{{ section.id }} .grid-text-logos-flex .main-log-grid{
  width: 100%;
}
.Logos-text-custom {
    width: 100%;
    text-align: center;
}
.Logos-text-custom > h3 {
    width: 100%;
    line-height: 1.4;
}


}




</style>








<div class="grid_logos--{{ section.id }} page-width">
<div class="grid-text-logos-flex">
<div class="Logos-text-custom">
<h3>{{ section.settings.heading_logos }}</h3>
</div>
<div class="main-log-grid">
  {% for block in section.blocks %}
{% if block.settings.logos_main_inner != blank %}
<img
         class="logos_main_inner"
                      srcset="{%- if block.settings.logos_main_inner.width >= 375 -%}{{ block.settings.logos_main_inner | image_url: width: 375 }} 375w,{%- endif -%}
                      {%- if block.settings.logos_main_inner.width >= 550 -%}{{ block.settings.logos_main_inner | image_url: width: 550 }} 550w,{%- endif -%}
                      {%- if block.settings.logos_main_inner.width >= 750 -%}{{ block.settings.logos_main_inner | image_url: width: 750 }} 750w,{%- endif -%}
                      {%- if block.settings.logos_main_inner.width >= 1100 -%}{{ block.settings.logos_main_inner | image_url: width: 1100 }} 1100w,{%- endif -%}
                      {%- if block.settings.logos_main_inner.width >= 1500 -%}{{ block.settings.logos_main_inner | image_url: width: 1500 }} 1500w,{%- endif -%}
                      {%- if block.settings.logos_main_inner.width >= 1780 -%}{{ block.settings.logos_main_inner | image_url: width: 1780 }} 1780w,{%- endif -%}
                      {%- if block.settings.logos_main_inner.width >= 2000 -%}{{ block.settings.logos_main_inner | image_url: width: 2000 }} 2000w,{%- endif -%}
                      {%- if block.settings.logos_main_inner.width >= 3000 -%}{{ block.settings.logos_main_inner | image_url: width: 3000 }} 3000w,{%- endif -%}
                      {%- if block.settings.logos_main_inner.width >= 3840 -%}{{ block.settings.logos_main_inner | image_url: width: 3840 }} 3840w,{%- endif -%}
                      {{ block.settings.logos_main_inner | image_url }} {{ block.settings.logos_main_inner.width }}w"
                      sizes="100vw"
                      src="{{ block.settings.logos_main_inner | image_url: width: 1500 }}"
                      {% if forloop.index0==0 %}loading="none"{% else %}loading="lazy"{% endif %}
                      alt="{{ block.settings.logos_main_inner.alt | escape }}"
                      width="{{ block.settings.logos_main_inner.width }}"
                      height="{{ block.settings.logos_main_inner.height }}"
                       >
{% endif %}
{% endfor %}



</div>
</div>

</div>



{% schema %}
  {
    "name": "Grid logos",
    "settings": [

      {
        "type": "range",
        "id": "coll_margindesk",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Margin Bottom Desktop",
        "default": 36
      },
      {
        "type": "range",
        "id": "margin_bottom_mobile",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Margin Bottom Mobile",
        "default": 36
      },
  {
          "type": "text",
          "id": "heading_logos",
          "label": "Heading"
        }

    ],
"blocks": [
    {
      "name": "Logos",
      "type": "slide",
      "settings": [
            {
          "type": "image_picker",
          "id": "logos_main_inner",
          "label": "Logo"
        }
      ]
    }
  ],
    "presets": [
      {
        "name": "Grid-logos"
      }
    ]
  }
{% endschema %}