{{ 'homepage-information-grid.css' | asset_url | stylesheet_tag }}

<style>
  .explore-sec {
    background: {{ section.settings.explore-background }};
    color: {{ section.settings.body_text }};
  }
  .explore-content h2{
    color: {{ section.settings.body_text }};
  }
</style>

<section class="explore-sec">
  <div class="explore-content">
    {% if section.settings['explore-heading'] %}
      <h2>{{ section.settings['explore-heading'] }}</h2>
    {% endif %}
    {% if section.settings['explore-subheading'] %}
      <p>{{ section.settings['explore-subheading'] }}</p>
    {% endif %}
  </div>

  <div class="swiper explore-swiper explore-parent-card">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper explore-wrapper ">
      <!-- Slides -->
      {% for block in section.blocks %}
        <div class="swiper-slide explore-slide">
          {% if block.settings['explore-paragraph'] %}
            {{ block.settings['explore-paragraph'] | replace: '<p>', '<p class="card-text">' }}
          {% endif %}
          {% if block.settings['explore-sub-paragraph'] %}
            <div class="card-hover-description">
              {{ block.settings['explore-sub-paragraph'] }}
            </div>
          {% endif %}

          {% if block.settings['explore-image'] %}
            <div class="image-wrapper">
              {{ block.settings['explore-image'] | image_url: width: 338 | image_tag: class: 'card-image' }}
            </div>
          {% endif %}

          {% if block.settings['explore-video'] %}
            <div class="video-wrapper">
              {{
                block.settings['explore-video']
                | video_tag: autoplay: true, loop: true, muted: true, controls: false, class: 'card-video'
              }}
            </div>
          {% endif %}
        </div>
      {% endfor %}
    </div>

    <div class="swiper-pagination"></div>
  </div>
</section>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const slides = document.querySelectorAll('.explore-slide');
    const canHover = window.matchMedia('(hover: hover)').matches;
    slides.forEach((slide) => {
      if (canHover) {
        slide.addEventListener('mouseenter', () => {
          slide.classList.add('active');
        });
        slide.addEventListener('mouseleave', () => {
          slide.classList.remove('active');
        });
      } else {
        slide.addEventListener('click', () => {
          slides.forEach((s) => s.classList.remove('active'));
          slide.classList.toggle('active');
        });
      }
    });
    const swiper = new Swiper('.explore-swiper', {
      slidesPerView: 1,
      spaceBetween: 20,
      pagination: { el: '.swiper-pagination', clickable: true },
      breakpoints: { 425: { slidesPerView: 3 } },
    });
  });
</script>

{% schema %}
{
  "name": "information-grid",
  "tag": "section",
  "max_blocks": 3,
  "settings": [
    {
      "type": "text",
      "id": "explore-heading",
      "label": "Heading",
      "default": "Explore by Inspiration"
    },
    {
      "type": "text",
      "id": "explore-subheading",
      "label": "Subheading",
      "default": "Select a theme that speaks to you, and we’ll guide you through curated timepieces designed to intrigue, inspire, and elevate your watch collection."
    },
    {
      "type": "color_background",
      "id": "explore-background",
      "label": "Background",
      "default": " #000000"
    },
    {
      "type": "color",
      "id": "body_text",
      "label": "Body text",
      "default": "#000000"
    }
  ],
  "blocks": [
    {
      "type": "info",
      "name": "info Item",
      "settings": [
        {
          "type": "richtext",
          "id": "explore-paragraph",
          "label": "Paragraph"
        },
        {
          "type": "text",
          "id": "explore-sub-paragraph",
          "label": "Sub Paragraph",
          "default": "Detailed description"
        },
        {
          "type": "image_picker",
          "id": "explore-image",
          "label": "Image"
        },
        {
          "type": "video",
          "id": "explore-video",
          "label": "A Shopify-hosted video"
        },
        {
          "type": "url",
          "id": "explore-button-link",
          "label": "Button link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "information-grid",
      "category": "Custom",
      "blocks": [
        {
          "type": "info",
          "settings": {
            "explore-paragraph": "<p>Start with <strong>bold text</strong> here</p>",
            "explore-sub-paragraph": "Default sub paragraph",
            "explore-button-link": "#"
          }
        }
      ]
    }
  ]
}
{% endschema %}