{% if product.metafields.custom.desktop_banner_list.value != blank %}
<div class="pdpbannercontainer">
   {% for bannerImage in product.metafields.custom.desktop_banner_list.value %}
   
    <div class="container_custom desktopimage">
          <img
           srcset="{%- if bannerImage.width >= 375 -%}{{ bannerImage | image_url: width: 375 }} 375w,{%- endif -%}
          {%- if bannerImage.width >= 750 -%}{{ bannerImage  | image_url: width: 750 }} 750w,{%- endif -%}
          {%- if bannerImage.width >= 1100 -%}{{ bannerImage | image_url: width: 1100 }} 1100w,{%- endif -%}
          {%- if bannerImage.width >= 1500 -%}{{ bannerImage | image_url: width: 1500 }} 1500w,{%- endif -%}
          {%- if bannerImage.width >= 1780 -%}{{ bannerImage | image_url: width: 1780 }} 1780w,{%- endif -%}
          {%- if bannerImage.width >= 2000 -%}{{ bannerImage | image_url: width: 2000 }} 2000w,{%- endif -%}
          {%- if bannerImage.width >= 3000 -%}{{ bannerImage | image_url: width: 3000 }} 3000w,{%- endif -%}
          {%- if bannerImage.width >= 3840 -%}{{ bannerImage | image_url: width: 3840 }} 3840w,{%- endif -%}
          {{ bannerImage | image_url }} {{ bannerImage.width }}w"
        sizes="100vw"
        src="{{ bannerImage | img_url: '1600x' }}"
        loading="lazy"
        class="desktopimage"
        alt="{{ bannerImage.alt | escape }}"
        width="{{ bannerImage.width }}"
        height="{{ bannerImage.height | divided_by: bannerImage.aspect_ratio }}"
      >
       </div>
      {% endfor %}       
    {% for bannerImagem in product.metafields.custom.mobile_banner_list.value %}
 
   
        <div class="container_custom mobileimage">
        
     <img
           srcset="{%- if bannerImagem.width >= 375 -%}{{ bannerImagem | image_url: width: 375 }} 375w,{%- endif -%}
          {%- if bannerImagem.width >= 750 -%}{{ bannerImagem  | image_url: width: 750 }} 750w,{%- endif -%}
          {%- if bannerImagem.width >= 1100 -%}{{ bannerImagem | image_url: width: 1100 }} 1100w,{%- endif -%}
          {%- if bannerImagem.width >= 1500 -%}{{ bannerImagem | image_url: width: 1500 }} 1500w,{%- endif -%}
          {%- if bannerImagem.width >= 1780 -%}{{ bannerImagem | image_url: width: 1780 }} 1780w,{%- endif -%}
          {%- if bannerImagem.width >= 2000 -%}{{ bannerImagem | image_url: width: 2000 }} 2000w,{%- endif -%}
          {%- if bannerImagem.width >= 3000 -%}{{ bannerImagem | image_url: width: 3000 }} 3000w,{%- endif -%}
          {%- if bannerImagem.width >= 3840 -%}{{ bannerImagem | image_url: width: 3840 }} 3840w,{%- endif -%}
          {{ bannerImagem | image_url }} {{ bannerImagem.width }}w"
        sizes="100vw"
        src="{{ bannerImagem |  img_url: '600x' }}"
        loading="lazy"
        class="mobileimage"
        alt="{{ bannerImagem.alt | escape }}"
        width="{{ bannerImagem.width }}"
        height="{{ bannerImagem.height | divided_by: bannerImagem.aspect_ratio }}"
      >    
       

         
  </div>
      {% endfor %}
    </div>
    {% endif %}
 
<style>
 
  .pdpbannercontainer img{width:100%; height:auto;margin-top: -2px;}
  .mobileimage{display:none;}
  @media screen and (max-width:749px){
   .mobileimage{display:block;}
    .desktopimage{display:none;}
    }
</style>


{% schema %}
  {
    "name": "Pdp-Banner-list",
    "settings": [

],
 "presets": [
    {
      "name": "PDP-Banner-list"
     
    }
  ]

  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
