{%- style -%}
  .section-{{ section.id }}-margin {
    margin-bottom: {{ section.settings.margin_bottom_desktop }}px;
  }

  @media screen and (max-width: 750px) {
    .section-{{ section.id }}-margin {
      margin-bottom: {{ section.settings.margin_bottom_mobile }}px;
    }
  }
{%- endstyle -%}
<div class="marquee  {% if section.settings.showmobile == false %} hidemobile {% endif %}" style="background-color:{{ section.settings.bgcolor }};" >
<div class="track">
  <div class="Customannouceslider">
{%- for block in section.blocks -%}
  {%- case block.type -%}
    {%- when 'text' -%}
      <div class=" customscrollbar" role="region" aria-label="{{ 'sections.header.customscrollbar' | t }}" {{ block.shopify_attributes }}>
        {%- if block.settings.text != blank -%}

              <p class="customscrollbar__message h5 ">
                {{  block.settings.image | image_url: width: 30 | image_tag: loading: 'eager'}}
                   {{ block.settings.text | escape }}
                {%- if block.settings.link != blank -%}
                  
                  
                {%- endif -%}
              </p>
        {%- endif -%}
      </div>
  {%- endcase -%}
{%- endfor -%}

    
  </div>
</div>
</div>
 
<style>
  .marquee {position: relative;width: 100vw; max-width: 100%;height: 64px;    overflow: hidden;}
  .track {position: absolute; white-space: nowrap;will-change: transform;animation: marquee 32s linear infinite;}
@keyframes marquee {
  from { transform: translateX(0%); }
  to { transform: translateX(-20%); }
}

  .customscrollbar__message{color:#000; display: flex;align-items: center;gap: 1rem;font-family: var(--font-family-h2);
    line-height: clamp(23px, calc(24 * (100vw /  var(--viewportDesktop))), 25px);}
  .Customannouceslider{display: flex;gap: 3rem;    align-items: center;padding-top: 1.5rem;}
  @media screen and (max-width:768px){ 
    .marquee{height:67px;    margin-bottom: 3rem;}
    .marquee.hidemobile{display:none;}
    .customscrollbar__message{color:#000; padding: 13px 0;margin: 0;   }
    .Customannouceslider{padding-top:.5rem;gap:2.4rem;}
    .customscrollbar__message{font-size:20px;line-height:24px;}
    
  }
</style>


{% schema %}
{
  "name": "Custom Scroll Bar",
   "settings": [
      {
  "type": "color",
  "id": "bgcolor",
  "label": "Background color"
},
      {
  "type": "checkbox",
  "id": "showmobile",
  "label": "Show on Mobile",
  "default":true
},
     {
      "type": "range",
      "id": "margin_bottom_desktop",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Margin Bottom Desktop",
      "default": 36
    },
    {
      "type": "range",
      "id": "margin_bottom_mobile",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Margin Bottom Mobile",
      "default": 36
    }

    ],
  "max_blocks": 20,
  
  "blocks": [
    {
      "type": "text",
      "name": "add block",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Welcome to our store",
          "label": "Text block"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ],
   "presets": [
    {
      "name": "custom scrollbar",
      "blocks": [
        {
          "type": "text"
        }
      
      ]
    }
  ] 

}
{% endschema %}
