<style>
  .pdp-desc-mob {
    display: none;
  }
  .fabric-cont {
    margin-top: 0 !important;
  }
  .description--section---container {
    margin-bottom: 4%;
    margin-top: 1%;
    padding: 0 5%;
  }
  .description-column,
  .description-column-1 {
    padding-left: 4%;
    padding-right: 2%;
  }
  .des-con-pdp .description-column h2 {
    font-size: 1.25vw;
    text-transform: uppercase;
    letter-spacing: 0px;
    line-height: 31px;
    color: #000000;
    font-family: "Inter-Bold";
    margin-bottom: 6%;
  }
  .des-con-pdp .prduct--description {
    font-size: 1.25vw;
    text-align: left;
    letter-spacing: 0px;
    color: #282728;
    font-family: "Inter-Light";
  }
  .des-con-pdp .column-heading {
    font-size: 1.25vw;
    color: #000000;
    font-family: "Inter-Bold";
    letter-spacing: 0px;
    margin-bottom: 5%;
  }
  .des-con-pdp .column-description {
    letter-spacing: 0px;
    font-size: 1.25vw;
    color: #282728;
    font-family: "Inter-Light";
    padding-bottom: 3%;
  }
  .description-row:not(:last-child) {
    margin-bottom: 8%;
  }
  .meta-single > b {
    font-size: 1.4vw;
  }
  .meta-single {
    margin-top: 1rem;
    margin-bottom: 0;
    font-family: "AvenirLTStd Roman";
    font-size: 17px;
    line-height: 1.2;
  }
  @media (min-width: 500px) and (max-width: 992px) {
    .description-column,
    .description-column-1 {
      padding-left: 1%;
      padding-right: 1%;
    }
    .des-con-pdp .prduct--description {
      font-size: 1.8vw;
      margin-bottom: 3%;
    }
    .des-con-pdp .description-column h2 {
      font-size: 42px;
      line-height: 40px;
      margin-bottom: 3% !important;
    }
    .des-con-pdp .column-heading {
      font-size: 17px;
    }
    .des-con-pdp .column-description {
      font-size: 17px;
    }
    .description-column-1 {
      padding-left: 3% !important;
    }
  }
  @media only screen and (min-width: 790px) and (max-width: 960px) {
    .meta-single > b {
      font-size: 20px !important;
    }
  }
  @media only screen and (min-width: 700px) and (max-width: 780px) {
    .meta-single > b {
      font-size: 40px !important;
    }
  }
  @media only screen and (max-width: 787px) {
    .meta-single > b {
      font-size: unset !important;
    }

    .desk-hide {
      display: none;
    }
    .pdp-desc-mob {
      display: block !important;
    }
    .pdp-desc-mob .accordion .accordion-header .accordion-button h2 {
      letter-spacing: 0px;
      line-height: 31px;
      color: #000000;
       font-family: 'Inter-Bold';
      font-size: 6.5vw;
    }
    .pdp-desc-mob .accordion-button:not(.collapsed) {
      background-color: unset;
    }
    .pdp-desc-mob .accordion .accordion-body.pdp-des-sub {
      text-align: left;
      letter-spacing: 0px;
      color: #282728;
      font-family: "Inter-Medium";
      font-size: 4.89vw;
    }
  }
  @media (min-width: 500px) and (max-width: 767px) {
    .description-column-1 {
      display: flex;
      border-left: none !important;
      gap: 20px;
    }
    .description-column {
      border-left: none !important;
      padding-left: 3% !important;
    }
    .description-row:not(:last-child) {
      margin-bottom: 0%;
    }
    .des-con-pdp .column-heading {
      margin-bottom: 1%;
      margin-top: 0%;
    }
  }
  @media (max-width: 500px) {
    .pdp-desc-mob .accordion .accordion-body.pdp-des-sub {
      font-size: 14px !important;
    }
    .pdp-desc-mob .accordion .accordion-header .accordion-button h2 {
      font-size: 16px;
      text-transform: uppercase;
    }
    .des-con-pdp .description-column h2 {
      font-size: 6.5vw;
      margin-bottom: 3% !important;
    }
    .des-con-pdp .prduct--description {
      font-size: 4.89vw;
      margin-bottom: 20px;
    }
    .description-column-1 {
      display: flex;
      border-left: none !important;
      align-items: baseline;
      justify-content: flex-start;
    }
    .description-column {
      border-left: none !important;
    }
    .des-con-pdp .column-heading {
      font-size: 16px;
      margin-bottom: 4%;
      margin-top: 8%;
    }
    .des-con-pdp .column-description {
      font-size: 14px;
    }
    .description-row:not(:last-child) {
      margin-bottom: 0%;
      width: 95%;
    }
    .meta-single {
      font-size: 17px !important;
    }
    p.meta-single > b {
      font-size: 19px;
      line-height: 30px;
    }
  }

  @media (min-width: 1001px) {
    .description-column.text-left:last-child .text-uppercase:not(:first-child) {
      margin-top: 4%;
    }
  }
</style>
<div class="container-fluid description--section---container des-con-pdp desk-hide">
  <div class="row">
    <div class="col-sm-12 col-md-4 text-left description-column" style="margin-right:3%;">
      <h2 class="text-left">Description</h2>
      <div class="prduct--description">
        {% if product.metafields.pro.desc != blank %}
          {{ product.metafields.pro.desc }}
        {% elsif product.tags contains 'coord' %}
          <style>
            .des-con-pdp .prduct--description {white-space: unset;}
          </style>
          {% assign metafield_value = product.metafields.custom.variantcombination
            | remove: '['
            | remove: ']'
            | split: ','
          %}
          {% for item in metafield_value %}
            {% assign parts = item | split: '##' %}
            {% assign product_code = parts[0] %}
            {% assign showProduct = product_code | remove: '""' | handleize %}

            {% assign pro = showProduct %}
            {% assign product1 = all_products[pro] %}
            {% if product1 != blank %}
                        <p class="meta-single">
                <b>{{ product1.title }}</b>
              </p>
              {{ product1.metafields.pro.desc }}
            {% endif %}
          {% endfor %}

        {% endif %}
      </div>
    </div>
    <div
      class="col-sm-12 col-md-3 text-left description-column-1"
      style="padding-left:4%;border-left: 1px solid #707070;"
    >
      {% comment %}
        {% assign description_heading = product.metafields.custom.product_description_headings.value %}
        {% assign description_content = product.metafields.custom.product_description_headingcontent.value %}
        {% assign sizes = description_heading.size | minus:1  %}
        {% for x in (0..sizes) %}{% endfor %}
      {% endcomment %}
      <div class="row description-row ">
        <div class="column-heading text-uppercase">FABRIC</div>
        <div class="column-description">
          {% if product.metafields.pro.other_info != blank %}
            {{ product.metafields.pro.other_info }}
          {% elsif product.tags contains 'coord' %}
            {% assign metafield_value2 = product.metafields.custom.variantcombination
              | remove: '['
              | remove: ']'
              | split: ','
            %}
            {% for item in metafield_value2 %}
              {% assign parts2 = item | split: '##' %}
              {% assign product_code2 = parts2[0] %}
              {% assign showProduct2 = product_code2 | remove: '""' | handleize %}
              {% comment %} {{ product_code  | remove: '""' | string }} {% endcomment %}

              {% assign pro2 = showProduct2 %}
              {% assign product2 = all_products[pro2] %}
              {% if product2 != blank %}
                <p class="meta-single">
                  <b>{{ product2.title }}</b>
                </p>
                <p class="meta-single fabric-cont">{{ product2.metafields.pro.other_info }}</p>
              {% endif %}
            {% endfor %}

          {% endif %}
        </div>
      </div>
      <div class="row description-row">
        <div class="column-heading text-uppercase">PRODUCT TYPE</div>
        <div class="column-description">{{ product.type }}</div>
      </div>
    </div>
    <div
      class="col-sm-12 col-md-4 text-left description-column "
      style="padding-left:4%;border-left: 1px solid #707070;"
    >
      <div class="column-heading text-uppercase">MODEL STATS:</div>
      <div class="column-description">
        {% if product.metafields.pro.model_info != blank %}
          {{ product.metafields.pro.model_info }}
        {% elsif product.tags contains 'coord' %}
          {% assign metafield_value3 = product.metafields.custom.variantcombination
            | remove: '['
            | remove: ']'
            | split: ','
          %}
          {% for item in metafield_value3 %}
            {% assign parts3 = item | split: '##' %}
            {% assign product_code3 = parts3[0] %}
            {% assign showProduct3 = product_code3 | remove: '""' | handleize %}
            {% comment %} {{ product_code  | remove: '""' | string }} {% endcomment %}

            {% assign pro3 = showProduct3 %}
            {% assign product3 = all_products[pro3] %}
            {% if product3 != blank %}
              <p class="meta-single">
                <b>{{ product3.title }}</b>
              </p>
              <p class="meta-single fabric-cont">{{ product3.metafields.pro.model_info }}</p>
            {% endif %}
          {% endfor %}

        {% endif %}
      </div>
      {% if product.metafields.custom.pdt_desc_image_col_2 != blank %}
        <img src="{{ product.metafields.custom.pdt_desc_image_col_2 | img_url:'' }}">
      {% endif %}

      <div class="column-heading text-uppercase">SOLD BY</div>
      {% for block in section.blocks %}
        <div class="column-description">{{ block.settings.country_of_origin }}</div>
        <div class="column-description">{{ block.settings.manufacturer_name }}</div>
        <div class="column-description">{{ block.settings.manufacturer_address }}</div>
      {% endfor %}
    </div>
  </div>
</div>

<div class="pdp-desc-mob">
  <div class="container-fluid description--section---container des-con-pdp">
    <div class="row">
      <div class="container-fluid faq-section">
        <div class="accordion accordion-flush faq-accordion" id="accordionFlushExample">
          <div class="accordion-item faq--item ">
            <h3 class="accordion-header" id="flush-heading0">
              <button
                class="accordion-button acc-head"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#flush-collapse0"
                aria-expanded="false"
                aria-controls="flush-collapse0"
              >
                <h2 class="text-left faq-question">Description</h2>
              </button>
            </h3>
            <div
              id="flush-collapse0"
              class="accordion-collapse collapse show"
              aria-labelledby="flush-heading0"
              data-bs-parent="#accordionFlushExample"
            >
              <div class="accordion-body pdp-des-sub faq-answer">
                {% if product.metafields.pro.desc != blank %}
                  {{ product.metafields.pro.desc }}
                {% elsif product.tags contains 'coord' %}
                  {% assign metafield_value = product.metafields.custom.variantcombination
                    | remove: '['
                    | remove: ']'
                    | split: ','
                  %}
                  {% for item in metafield_value %}
                    {% assign parts = item | split: '##' %}
                    {% assign product_code = parts[0] %}
                    {% assign showProduct = product_code | remove: '""' | handleize %}
                    {% comment %} {{ product_code  | remove: '""' | string }} {% endcomment %}

                    {% assign pro = showProduct %}
                    {% assign product1 = all_products[pro] %}
                    {% if product1 != blank %}
                      <p class="meta-single">
                        <b>{{ product1.title }}</b>
                      </p>
                      {{ product1.metafields.pro.desc }}
                    {% endif %}
                  {% endfor %}

                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid faq-section">
        <div class="accordion accordion-flush faq-accordion" id="accordionFlushExample">
          <div class="accordion-item faq--item ">
            <h3 class="accordion-header" id="flush-heading1">
              <button
                class="accordion-button collapsed acc-head"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#flush-collapse1"
                aria-expanded="false"
                aria-controls="flush-collapse1"
              >
                <h6 class="faq-question"><div class="column-heading text-uppercase">FABRIC</div></h6>
              </button>
            </h3>
            <div
              id="flush-collapse1"
              class="accordion-collapse collapse"
              aria-labelledby="flush-heading1"
              data-bs-parent="#accordionFlushExample"
            >
              <div class="accordion-body  faq-answer">
                <div class="column-description">
                  {% if product.metafields.pro.other_info != blank %}
                    {{ product.metafields.pro.other_info }}
                  {% elsif product.tags contains 'coord' %}
                    {% assign metafield_value2 = product.metafields.custom.variantcombination
                      | remove: '['
                      | remove: ']'
                      | split: ','
                    %}
                    {% for item in metafield_value2 %}
                      {% assign parts2 = item | split: '##' %}
                      {% assign product_code2 = parts2[0] %}
                      {% assign showProduct2 = product_code2 | remove: '""' | handleize %}
                      {% comment %} {{ product_code  | remove: '""' | string }} {% endcomment %}

                      {% assign pro2 = showProduct2 %}
                      {% assign product2 = all_products[pro2] %}
                      {% if product2 != blank %}
                        <p class="meta-single"><b>{{ product2.title }}</b></p>
                        <p class="meta-single fabric-cont">{{ product2.metafields.pro.other_info }}</p>
                      {% endif %}
                    {% endfor %}

                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      {% if product.type != blank %}
        <div class="container-fluid faq-section">
          <div class="accordion accordion-flush faq-accordion" id="accordionFlushExample">
            <div class="accordion-item faq--item ">
              <h3 class="accordion-header" id="flush-heading2">
                <button
                  class="accordion-button collapsed acc-head"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#flush-collapse2"
                  aria-expanded="false"
                  aria-controls="flush-collapse2"
                >
                  <h6 class="faq-question"><div class="column-heading text-uppercase">PRODUCT TYPE</div></h6>
                </button>
              </h3>
              <div
                id="flush-collapse2"
                class="accordion-collapse collapse"
                aria-labelledby="flush-heading2"
                data-bs-parent="#accordionFlushExample"
              >
                <div class="accordion-body  faq-answer">
                  <div class="column-description">{{ product.type }}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endif %}

      <div class="container-fluid faq-section">
        <div class="accordion accordion-flush faq-accordion" id="accordionFlushExample">
          <div class="accordion-item faq--item ">
            <h3 class="accordion-header" id="flush-heading3">
              <button
                class="accordion-button collapsed acc-head"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#flush-collapse3"
                aria-expanded="false"
                aria-controls="flush-collapse3"
              >
                <h6 class="faq-question"><div class="column-heading text-uppercase">MODEL STATS</div></h6>
              </button>
            </h3>
            <div
              id="flush-collapse3"
              class="accordion-collapse collapse"
              aria-labelledby="flush-heading3"
              data-bs-parent="#accordionFlushExample"
            >
              <div class="accordion-body  faq-answer">
                <div class="column-description">
                  {% if product.metafields.pro.model_info != blank %}
                    {{ product.metafields.pro.model_info }}
                  {% elsif product.tags contains 'coord' %}
                    {% assign metafield_value3 = product.metafields.custom.variantcombination
                      | remove: '['
                      | remove: ']'
                      | split: ','
                    %}
                    {% for item in metafield_value3 %}
                      {% assign parts3 = item | split: '##' %}
                      {% assign product_code3 = parts3[0] %}
                      {% assign showProduct3 = product_code3 | remove: '""' | handleize %}
                      {% comment %} {{ product_code  | remove: '""' | string }} {% endcomment %}

                      {% assign pro3 = showProduct3 %}
                      {% assign product3 = all_products[pro3] %}
                      {% if product3 != blank %}
                         <p class="meta-single"><b>{{ product3.title }}</b></p>
                        <p class="meta-single fabric-cont">{{ product3.metafields.pro.model_info }}</p>
                      {% endif %}
                    {% endfor %}

                  {% endif %}
                </div>
                {% if product.metafields.custom.pdt_desc_image_col_2 != blank %}
                  <img src="{{ product.metafields.custom.pdt_desc_image_col_2 | img_url:'' }}">
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid faq-section">
        <div class="accordion accordion-flush faq-accordion" id="accordionFlushExample">
          <div class="accordion-item faq--item ">
            <h3 class="accordion-header" id="flush-heading4">
              <button
                class="accordion-button collapsed acc-head"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#flush-collapse4"
                aria-expanded="false"
                aria-controls="flush-collapse4"
              >
                <h6 class="faq-question"><div class="column-heading text-uppercase">SOLD BY</div></h6>
              </button>
            </h3>
            <div
              id="flush-collapse4"
              class="accordion-collapse collapse"
              aria-labelledby="flush-heading4"
              data-bs-parent="#accordionFlushExample"
            >
              <div class="accordion-body  faq-answer">
                {% for block in section.blocks %}
                  <div class="column-description">{{ block.settings.country_of_origin }}</div>
                  <div class="column-description">{{ block.settings.manufacturer_name }}</div>
                  <div class="column-description">{{ block.settings.manufacturer_address }}</div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Description",
  "settings": [],
  "blocks": [
    {
        "type":"text",
        "name":"sold-by",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "country_of_origin",
            "label":"country",
            "default": "Country Of Origin: India"
          },
          {
            "type": "text",
            "id": "manufacturer_name",
            "label":"manufacturer name",
            "default": "Name Of Manufacturer/ Packer/ Importer: Nykaa Fashion Pvt Ltd"
          },
          {
            "type": "text",
            "id": "manufacturer_address",
            "label":"manufacturer address",
            "default": "Address Of Manufacturer/ Packer/ Importer: 7th Floor, Max House Okhla, 1, Dr Jha Marg, Okhla Phase III, Okhla Industrial Estate, New Delhi, Delhi 110020"
          }
        ]
    }
  ],
  "presets" : [{"name" : "Description"}]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
