<style>
  .stellar-swiper-section {
    background-color: {{ section.settings.background_color | default: '#000' }};
    position: relative;
    overflow: hidden;
    padding-top: {{ section.settings.padding_top_Desktop }}px;
    padding-bottom: {{ section.settings.padding_bottom_Desktop }}px;
    padding-left: 15px;
  }
  .section-{{ section.id }}-margin {
    margin-bottom: {{ section.settings.margin_bottom_Desktop }}px;
    margin-top: {{ section.settings.margin_top_Desktop }}px;
  }
  .stellar-swiper-desktop {
    display: block;
  }
  .stellar-swiper-mobile {
    display: none;
  }
  .stellar-swiper-container {
    position: relative;
    width: 100%;
  }
  .stellar-swiper-container .swiper {
    width: 100%;
    height: auto;
  }
  .stellar-swiper-container .swiper-slide {
    position: relative;
    overflow: hidden;
  }
  .stellar-swiper-container .swiper-slide img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
  }
  /* Centered Navigation Buttons */
  .stellar-swiper-container .swiper-button-next,
  .stellar-swiper-container .swiper-button-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 34px;
    height: 34px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(40px)
  }
  .stellar-swiper-container .swiper-button-next:hover,
  .stellar-swiper-container .swiper-button-prev:hover {
    background: rgba(255, 255, 255, 1);
    transform: translateY(-50%) scale(1.1);
  }
  .stellar-swiper-container .swiper-button-next {
    right: 20px;
  }
  .stellar-swiper-container .swiper-button-next svg {
    transform: rotate(180deg);
  }
  .stellar-swiper-container .swiper-button-prev {
    left: 20px;
  }
  .stellar-swiper-container .swiper-button-next:after,
  .stellar-swiper-container .swiper-button-prev:after {
    font-size: 16px;
    font-weight: bold;
    color: #333;
  }
  /* Pagination */
  .stellar-swiper-container .swiper-pagination {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }
  .stellar-swiper-container .swiper-pagination-bullet {
    width: 9px;
    height: 9px;
    background: #D9D9D942;
    border-radius: 50%;
    margin: 0 6px;
    transition: all 0.3s ease;
    border-color: transparent;
  }
  .stellar-swiper-container .swiper-pagination-bullet-active {
    background: #D9D9D9;
  }

  @media screen and (max-width: 768px) {
    .stellar-swiper-section {
      padding-top: {{ section.settings.padding_top_Mobile }}px;
      padding-bottom: {{ section.settings.padding_bottom_Mobile }}px;
      padding-left: 5px;
    }
    .section-{{ section.id }}-margin {
      margin-bottom: {{ section.settings.margin_bottom_Mobile }}px;
      margin-top: {{ section.settings.margin_top_Mobile }}px;
    }
    .stellar-swiper-desktop {
      display: none;
    }
    .stellar-swiper-mobile {
      display: block;
    }
    .stellar-swiper-container .swiper-button-next,
    .stellar-swiper-container .swiper-button-prev {
      display: none;
    }
    .stellar-swiper-container .swiper-pagination {
      bottom: 3px;
      display: flex !important;
      opacity: 1;
      visibility: visible;
      justify-content: center;
    }
    .stellar-swiper-container .swiper-wrapper{
      padding-bottom: 30px;
    }
  }
</style>

{% assign desktop_images = product.metafields.custom.stellar_images_banner_desktop.value %}
{% assign mobile_images = product.metafields.custom.stellar_images_banner_mobile.value %}

{% if desktop_images != blank and mobile_images != blank %}
  <section class="stellar-swiper-section section-{{ section.id }}-margin" id="{{ section.id }}">
    {% if desktop_images != blank %}
      <div class="stellar-swiper-desktop">
        <div class="stellar-swiper-container">
          <div class="swiper stellar-desktop-swiper" id="stellar-desktop-swiper-{{ section.id }}">
            <div class="swiper-wrapper">
              {% for image in desktop_images %}
                {% if image != blank %}
                  <div class="swiper-slide">
                    {% assign alt_text = image.alt | default: 'Stellar Banner Image' %}
                    {{
                      image
                      | image_url: width: 1200
                      | image_tag:
                        class: 'stellar-desktop-image',
                        loading: 'lazy',
                        alt: alt_text,
                        width: image.width,
                        height: image.height
                    }}
                  </div>
                {% endif %}
              {% endfor %}
            </div>

            <div class="swiper-button-next">
              {% render 'stella-arrow-icon-next' %}
            </div>
            <div class="swiper-button-prev">
              {% render 'stella-arrow-icon-prev' %}
            </div>

            {% if desktop_images.size > 1 %}
              <div class="swiper-pagination"></div>
            {% endif %}
          </div>
        </div>
      </div>
    {% endif %}

    {% if mobile_images != blank %}
      <div class="stellar-swiper-mobile">
        <div class="stellar-swiper-container">
          <div class="swiper stellar-mobile-swiper" id="stellar-mobile-swiper-{{ section.id }}">
            <div class="swiper-wrapper">
              {% for image in mobile_images %}
                {% if image != blank %}
                  <div class="swiper-slide">
                    {% assign alt_text = image.alt | default: 'Stellar Banner Image' %}
                    {{
                      image
                      | image_url: width: 800
                      | image_tag:
                        class: 'stellar-mobile-image',
                        loading: 'lazy',
                        alt: alt_text,
                        width: image.width,
                        height: image.height
                    }}
                  </div>
                {% endif %}
              {% endfor %}
            </div>

            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>

            <div class="swiper-pagination"></div>
          </div>
        </div>
      </div>
    {% endif %}
  </section>
{% endif %}

<script>
  window.addEventListener(
    'DOMContentLoaded',
    () => {
      (async () => {
        const desktopBanner = document.querySelector('#stellar-desktop-swiper-{{ section.id }}');
        if (desktopBanner) {
          const desktopSlides = desktopBanner.querySelectorAll('.swiper-slide');
          if (desktopSlides.length > 0) {
            new Swiper('#stellar-desktop-swiper-{{ section.id }}', {
              slidesPerView: 1.2,
              spaceBetween: 4,
              breakpoints: {
                768: {
                  slidesPerView: 1.5,
                  spaceBetween: 20,
                },
                1024: {
                  slidesPerView: 1.3,
                  spaceBetween: 7,
                },
              },
              navigation: {
                nextEl: '#stellar-desktop-swiper-{{ section.id }} .swiper-button-next',
                prevEl: '#stellar-desktop-swiper-{{ section.id }} .swiper-button-prev',
              },
              pagination: {
                el: '#stellar-desktop-swiper-{{ section.id }} .swiper-pagination',
                clickable: true,
                type: 'bullets',
              },
              watchSlidesProgress: true,
              slideToClickedSlide: true,
            });
          }
        }

        const mobileBanner = document.querySelector('#stellar-mobile-swiper-{{ section.id }}');
        if (mobileBanner) {
          const mobileSlides = mobileBanner.querySelectorAll('.swiper-slide');
          if (mobileSlides.length > 0) {
            new Swiper('#stellar-mobile-swiper-{{ section.id }}', {
              slidesPerView: 1.4,
              spaceBetween: 4,
              breakpoints: {
                768: {
                  slidesPerView: 1.5,
                  spaceBetween: 20,
                },
                1024: {
                  slidesPerView: 1.3,
                  spaceBetween: 7,
                },
              },
              pagination: {
                el: '#stellar-mobile-swiper-{{ section.id }} .swiper-pagination',
                clickable: true,
                type: 'bullets',
              },
              watchSlidesProgress: true,
              slideToClickedSlide: true,
            });
          }
        }
      })();
    },
    { once: true }
  );
</script>

{% schema %}
{
  "name": "Stellar Image Swiper",
  "settings": [
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#000"
    },
    {
      "type": "range",
      "id": "margin_top_Desktop",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 0,
      "unit": "px",
      "label": "Margin Top (Desktop)"
    },
    {
      "type": "range",
      "id": "margin_bottom_Desktop",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 20,
      "unit": "px",
      "label": "Margin Bottom (Desktop)"
    },
    {
      "type": "range",
      "id": "margin_top_Mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 0,
      "unit": "px",
      "label": "Margin Top (Mobile)"
    },
    {
      "type": "range",
      "id": "margin_bottom_Mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 20,
      "unit": "px",
      "label": "Margin Bottom (Mobile)"
    },
    {
      "type": "range",
      "id": "padding_top_Desktop",
      "min": 0,
      "max": 200,
      "step": 5,
      "default": 15,
      "unit": "px",
      "label": "Padding Top (Desktop)"
    },
    {
      "type": "range",
      "id": "padding_bottom_Desktop",
      "min": 0,
      "max": 200,
      "step": 5,
      "default": 15,
      "unit": "px",
      "label": "Padding Bottom (Desktop)"
    },
    {
      "type": "range",
      "id": "padding_top_Mobile",
      "min": 0,
      "max": 200,
      "step": 5,
      "default": 15,
      "unit": "px",
      "label": "Padding Top (Mobile)"
    },
    {
      "type": "range",
      "id": "padding_bottom_Mobile",
      "min": 0,
      "max": 200,
      "step": 5,
      "default": 15,
      "unit": "px",
      "label": "Padding Bottom (Mobile)"
    }
  ],
  "presets": [
    {
      "name": "Stellar Image Swiper"
    }
  ]
}
{% endschema %}
