<style>
  .stellar-swiper-section {
    background-color: {{ section.settings.background_color | default: '#000' }};
    position: relative;
    overflow: hidden;
    padding-top: {{ section.settings.padding_top_Desktop }}px;
    padding-bottom: {{ section.settings.padding_bottom_Desktop }}px;
    padding-left: 15px;
  }

  .section-{{ section.id }}-margin {
    margin-bottom: {{ section.settings.margin_bottom_Desktop }}px;
    margin-top: {{ section.settings.margin_top_Desktop }}px;
  }

  .stellar-swiper-desktop {
    display: block;
    max-width:1512px;
    margin:auto;
  }

  @media (min-width:1513px){
     .stellar-swiper-section {
    padding-left:0;
  }
  }

  .stellar-swiper-mobile {
    display: none;
  }

  .stellar-swiper-container {
    position: relative;
    width: 100%;
  }

  .stellar-swiper-container .swiper {
    width: 100%;
    height: auto;
  }

  .stellar-swiper-container .swiper-slide {
    position: relative;
    overflow: hidden;
    width: auto !important;
    height: 100%;
  }

  .stellar-swiper-container .swiper-slide img {
    width: auto;
    height: 100%;
    max-height: 753px;
    display: block;
    object-fit: cover;
  }

  /* Centered Navigation Buttons */
  .stellar-swiper-container .swiper-button-next,
  .stellar-swiper-container .swiper-button-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background: transparent;
    cursor: pointer;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    padding: 0;
  }

  .stellar-swiper-container .swiper-button-next {
    right: 20px;
  }

  .stellar-swiper-container .swiper-button-prev {
    left: 20px;
  }

  .stellar-swiper-container .swiper-button-next:after,
  .stellar-swiper-container .swiper-button-prev:after {
    display: none;
  }

  /* Pagination */
  .stellar-swiper-container .swiper-pagination {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }

  .stellar-swiper-container .swiper-pagination-bullet {
    width: 9px;
    height: 9px;
    background: #D9D9D942;
    border-radius: 50%;
    margin: 0 6px;
    transition: all 0.3s ease;
    border-color: transparent;
  }

  .stellar-swiper-container .swiper-pagination-bullet-active {
    background: #D9D9D9;
  }


.stellar-swiper-container .swiper-button-next:hover .arrow-path {
  transform: translateX(-4px);
}

.arrow-path {
  transition: transform 0.3s ease;
}



  @media screen and (max-width: 1024px) {
        .stellar-swiper-container .swiper-slide img{
    max-height: 423px;
  }
  .stellar-swiper-container .swiper-button-next, .stellar-swiper-container .swiper-button-prev{
    width: 34px;
    height: 34px;
  }
   
  }

  @media screen and (max-width: 768px) {
    .stellar-swiper-section {
      padding-top: {{ section.settings.padding_top_Mobile }}px;
      padding-bottom: {{ section.settings.padding_bottom_Mobile }}px;
      padding-left: 5px;
      z-index:0;
    }

    .section-{{ section.id }}-margin {
      margin-bottom: {{ section.settings.margin_bottom_Mobile }}px;
      margin-top: {{ section.settings.margin_top_Mobile }}px;
    }

    .stellar-swiper-desktop {
      display: none;
    }

    .stellar-swiper-mobile {
      display: block;
    }

    .stellar-swiper-container .swiper-button-next,
    .stellar-swiper-container .swiper-button-prev {
      display: none;
    }

    .stellar-swiper-container .swiper-slide img{
      max-height: 389px;
    }
    .stellar-swiper-container .swiper-pagination {
      bottom: 0px;
      display: flex !important;
      opacity: 1;
      visibility: visible;
      justify-content: center;
    }

    .stellar-swiper-container .swiper-wrapper{
      padding-bottom: 26px;
    }
  }
</style>

{% assign desktop_images = product.metafields.custom.stellar_images_banner_desktop.value %}
{% assign mobile_images = product.metafields.custom.stellar_images_banner_mobile.value %}

{% if desktop_images != blank and mobile_images != blank %}
  <section class="stellar-swiper-section section-{{ section.id }}-margin" id="{{ section.id }}">
    {% if desktop_images != blank %}
      <div class="stellar-swiper-desktop">
        <div class="stellar-swiper-container">
          <div class="swiper stellar-desktop-swiper" id="stellar-desktop-swiper-{{ section.id }}">
            <div class="swiper-wrapper">
              {% for image in desktop_images %}
                {% if image != blank %}
                  <div class="swiper-slide">
                    {% assign alt_text = image.alt | default: 'Stellar Banner Image' %}
                    {{
                      image
                      | image_url: width: 1200
                      | image_tag:
                        class: 'stellar-desktop-image',
                        loading: 'lazy',
                        alt: alt_text,
                        width: image.width,
                        height: image.height
                    }}
                  </div>
                {% endif %}
              {% endfor %}
            </div>

            <div class="swiper-button-next">
              <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
<foreignObject x="-40" y="-40" width="120" height="120"><div xmlns="http://www.w3.org/1999/xhtml" style="backdrop-filter:blur(20px);clip-path:url(#bgblur_stellar_next_clip_path);height:100%;width:100%"></div></foreignObject><circle data-figma-bg-blur-radius="40" cx="20" cy="20" r="19.25" fill="black" fill-opacity="0.6" stroke="white" stroke-width="1.5"/>
<path d="M17.5518 13L24.6228 20.0711L17.5518 27.1421" stroke="white" stroke-width="1.5" stroke-linejoin="round"/>
<defs>
<clipPath id="bgblur_stellar_next_clip_path" transform="translate(40 40)"><circle cx="20" cy="20" r="19.25"/>
</clipPath></defs>
</svg>
            </div>
            <div class="swiper-button-prev">
              <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
<foreignObject x="-40" y="-40" width="120" height="120"><div xmlns="http://www.w3.org/1999/xhtml" style="backdrop-filter:blur(20px);clip-path:url(#bgblur_stellar_prev_clip_path);height:100%;width:100%"></div></foreignObject><circle data-figma-bg-blur-radius="40" cx="20" cy="20" r="19.25" transform="matrix(-1 0 0 1 40 0)" fill="black" fill-opacity="0.6" stroke="white" stroke-width="1.5"/>
<path d="M22.4483 13L15.3772 20.0711L22.4482 27.1421" stroke="white" stroke-width="1.5" stroke-linejoin="round"/>
<defs>
<clipPath id="bgblur_stellar_prev_clip_path" transform="translate(40 40)"><circle cx="20" cy="20" r="19.25" transform="matrix(-1 0 0 1 40 0)"/>
</clipPath></defs>
</svg>
            </div>

            {% if desktop_images.size > 1 %}
              <div class="swiper-pagination"></div>
            {% endif %}
          </div>
        </div>
      </div>
    {% endif %}

    {% if mobile_images != blank %}
      <div class="stellar-swiper-mobile">
        <div class="stellar-swiper-container">
          <div class="swiper stellar-mobile-swiper" id="stellar-mobile-swiper-{{ section.id }}">
            <div class="swiper-wrapper">
              {% for image in mobile_images %}
                {% if image != blank %}
                  <div class="swiper-slide">
                    {% assign alt_text = image.alt | default: 'Stellar Banner Image' %}
                    {{
                      image
                      | image_url: width: 800
                      | image_tag:
                        class: 'stellar-mobile-image',
                        loading: 'lazy',
                        alt: alt_text,
                        width: image.width,
                        height: image.height
                    }}
                  </div>
                {% endif %}
              {% endfor %}
            </div>

            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>

            <div class="swiper-pagination"></div>
          </div>
        </div>
      </div>
    {% endif %}
  </section>
{% endif %}

<script>
  window.addEventListener(
    'DOMContentLoaded',
    () => {
      (async () => {
        const desktopBanner = document.querySelector('#stellar-desktop-swiper-{{ section.id }}');
        if (desktopBanner) {
          const desktopSlides = desktopBanner.querySelectorAll('.swiper-slide');
          if (desktopSlides.length > 0) {
            new Swiper('#stellar-desktop-swiper-{{ section.id }}', {
              slidesPerView: 'auto',
              spaceBetween: 6.75,
              centeredSlides: false,
              breakpoints: {
                1025: {
                  spaceBetween: 12
                }
              },
              navigation: {
                nextEl: '#stellar-desktop-swiper-{{ section.id }} .swiper-button-next',
                prevEl: '#stellar-desktop-swiper-{{ section.id }} .swiper-button-prev',
              },
              pagination: {
                el: '#stellar-desktop-swiper-{{ section.id }} .swiper-pagination',
                clickable: true,
                type: 'bullets',
              },
              watchSlidesProgress: true,
              slideToClickedSlide: true,
            });
          }
        }

        const mobileBanner = document.querySelector('#stellar-mobile-swiper-{{ section.id }}');
        if (mobileBanner) {
          const mobileSlides = mobileBanner.querySelectorAll('.swiper-slide');
          if (mobileSlides.length > 0) {
            new Swiper('#stellar-mobile-swiper-{{ section.id }}', {
              slidesPerView: 'auto',
              spaceBetween: 4,
              centeredSlides: false,
              pagination: {
                el: '#stellar-mobile-swiper-{{ section.id }} .swiper-pagination',
                clickable: true,
                type: 'bullets',
              },
              watchSlidesProgress: true,
              slideToClickedSlide: true,
            });
          }
        }
      })();
    },
    { once: true }
  );
</script>

{% schema %}
{
  "name": "Stellar Image Swiper",
  "settings": [
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#000"
    },
    {
      "type": "range",
      "id": "margin_top_Desktop",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 0,
      "unit": "px",
      "label": "Margin Top (Desktop)"
    },
    {
      "type": "range",
      "id": "margin_bottom_Desktop",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 20,
      "unit": "px",
      "label": "Margin Bottom (Desktop)"
    },
    {
      "type": "range",
      "id": "margin_top_Mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 0,
      "unit": "px",
      "label": "Margin Top (Mobile)"
    },
    {
      "type": "range",
      "id": "margin_bottom_Mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 20,
      "unit": "px",
      "label": "Margin Bottom (Mobile)"
    },
    {
      "type": "range",
      "id": "padding_top_Desktop",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 41,
      "unit": "px",
      "label": "Padding Top (Desktop)"
    },
    {
      "type": "range",
      "id": "padding_bottom_Desktop",
      "min": 0,
      "max": 200,
      "step": 5,
      "default": 15,
      "unit": "px",
      "label": "Padding Bottom (Desktop)"
    },
    {
      "type": "range",
      "id": "padding_top_Mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 15,
      "unit": "px",
      "label": "Padding Top (Mobile)"
    },
    {
      "type": "range",
      "id": "padding_bottom_Mobile",
      "min": 0,
      "max": 200,
      "step": 5,
      "default": 15,
      "unit": "px",
      "label": "Padding Bottom (Mobile)"
    }
  ],
  "presets": [
    {
      "name": "Stellar Image Swiper"
    }
  ]
}
{% endschema %}