
<style>
  #like-products-{{ section.id }}{ overflow:hidden;}
  .like-product--title{ color:#000000; font-family: 'Inter-Bold'; font-size: 2.3vw; padding-bottom: 2%; }
  .like-product---container{ padding: 0 5%;}
  .like-product---container .product-list{
    display: flex;
    overflow-x: scroll;
    flex-wrap: nowrap;
    -ms-overflow-style: none; /* IE 11 */
    scrollbar-width: none; /* Firefox 64 */
  }
  .like-products .product-option{
    display:none;
  }
   .like-products .likeproduct{
      display:none;
   }
  .like-product---container .product-list::-webkit-scrollbar {
    display: none;
}
  .CustomCardCollection{ flex-basis:25%;}
  @media only screen and (max-width:902px) and (min-width:600px){
    .like-product--title{ font-size:25px;}
    .CustomCardCollection{ flex-basis:33%;}
  }
  @media(max-width:599px){
    .like-product--title{ font-size:20px;}
    .CustomCardCollection{ flex-basis:40%;}
    .like-products .text-muted {
    font-size: 11px;
}
    .like-products .CustomCardCollection .product-item-price-final {
    font-size: 12px;
}
    .like-products .product-item-price {
      gap:5px;
          flex-wrap: wrap;
    }
  }
</style>

{% liquid 
    assign pt = section.settings.pt | prepend: 'pt-'
    assign pb = section.settings.pb | prepend: 'pb-'
    assign mt = section.settings.mt | prepend: 'mt-'
    assign mb = section.settings.mb | prepend: 'mb-'

    assign row_sm =  section.settings.row_sm | prepend: 'row-cols-sm-'
    assign row_lg =  section.settings.row_lg | prepend: 'row-cols-lg-'
%}

<section 
    id="like-products-{{ section.id }}" 
    class="like-products {% if section.settings.recommended_mode %}recommended-products{% endif %} {{ section.settings.text_align }} {{ pt }} {{ pb }} {{ mt }} {{ mb }}"
    data-base-url="{{ routes.product_recommendations_url }}"
    data-section-id="{{ section.id }}"
    data-product-id="{{ product.id }}" 
    data-limit="{{ section.settings.limit }}">
    <div class="like-product---container container-fluid position-relative">
        <h2 class="like-product--title mb-4 {{ section.settings.title_size }}">
            {{ section.settings.title }}
        </h2>
        <ul class="product-list list-unstyled row mx-n3 mb-0">
            {% liquid
                if section.settings.recommended_mode
                    for product in recommendations.products
                        render 'product-item-new', product: product
                    endfor
                else
                    for product in collections[section.settings.collection].products limit: section.settings.limit
                        render 'product-item-new', product: product
                    endfor
                endif
            %}
        </ul>
        
    </div>
</section>

{% schema %}
{
    "name": "You May Also Like",
    "settings": [
        {
            "type": "checkbox",
            "id": "recommended_mode",
            "label": "Recommended mode",
            "info": "Only works in the product page. It uses Shopify's product recommendations API. Do not select a collection below. [Learn more](https://shopify.dev/themes/product-merchandising/recommendations)",
            "default": false
        },
        {
            "type": "collection",
            "id": "collection",
            "label": "Collection"
        },
        {
            "type": "range",
            "id": "limit",
            "label": "Limit products",
            "min": 2,
            "max": 20,
            "default": 8
        },
        {
            "type": "header",
            "content": "General"
        },
        {
            "type": "select",
            "id": "text_align",
            "label": "Text align",
            "default": "text-center",
            "options": [
                { "value": "text-start", "label": "Left" },
                { "value": "text-center", "label": "Center" }
            ]
        },
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Featured Products"
        },
        {
            "type": "select",
            "id": "title_size",
            "label": "Title size",
            "default": "h2",
            "options": [
                { "group": "Heading", "value": "h1", "label": "H1" },
                { "group": "Heading", "value": "h2", "label": "H2" },
                { "group": "Heading", "value": "h3", "label": "H3" },
                { "group": "Heading", "value": "h4", "label": "H4" },
                { "group": "Heading", "value": "h5", "label": "H5" },
                { "group": "Heading", "value": "h6", "label": "H6" }
            ]
        },
       
      
        {
            "type": "header",
            "content": "Spacing"
        },
        {
            "type": "range",
            "id": "pt",
            "label": "Padding top",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "pb",
            "label": "Padding bottom",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "mt",
            "label": "Margin top",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "mb",
            "label": "Margin bottom",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 0
        }
    ],
    "presets": [
        {
            "name": "You May Also Like",
            "category": "Products"
        }
    ]
}
{% endschema %}